.buttonbase .buttontitle{
    font-weight:normal;
    text-align:center;
    color:#fff;
    font-size:20px;
    text-shadow:rgba(0,0,0,0.1) 1px 0,rgba(0,0,0,0.1) 0 2px
}
.buttonbase{
    cursor:pointer;
    text-decoration:none;
    position:relative;
    float:left;
    padding:10px;
    width:180px;
    margin:20px;
    filter:progid:DXImageTransform.Microsoft.Shadow(color='#666666',Direction=150,Strength=2);
    border-radius:5px
}
.buttonbase:hover{
    text-decoration:none
}
.buttonblue{
    background-color:#107fc9;
    border:1px solid #107fc9;
    border-top:1px solid #579dc9;
    -moz-box-shadow:0 -1px 0 #107fc9,0px 2px 1px #ccc;
    -webkit-box-shadow:0 -1px 0 #107fc9,0px 2px 1px #ccc;
    box-shadow:0 -1px 0 #107fc9,0px 2px 1px #ccc
}
.buttonblue:hover{
    background:#1993e4;
    border:1px solid #1993e4;
    border-top:1px solid #2ca6f8;
    -moz-box-shadow:0 -1px 0 #1993e4,0px 2px 1px #ccc;
    -webkit-box-shadow:0 -1px 0 #1993e4,0px 2px 1px #ccc;
    box-shadow:0 -1px 0 #1993e4,0px 2px 1px #ccc
}
div.ccbrowsercontainer{
    margin-left:3px
}
div.quickbar{
    width:960px;
    margin-left:-3px
}
#cc_alert{
    background-color:#5e3c55;
    color:#fff;
    text-align:center;
    padding:10px;
    margin:5px 2px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px
}
.container-cc{
    padding:20px 0 100px
}
.cc-wrapper{
    background-color:#fff;
    border-radius:10px;
    padding:6px 3px;
    width:954px;
    margin:30px 0 50px
}
.preview-notification{
    background-color:#d85e27;
    color:#fff;
    font-size:14px;
    font-weight:600;
    padding:15px 0;
    text-align:center;
    box-shadow:0 2px 2px #ccc
}
.preview-notification a{
    color:#fff;
    text-decoration:underline
}
