h1 {
  color: #dbdbdb;
  font-size: 50px;
  line-height: 60px;
  margin: 0;
  text-align: center;
  text-shadow: 0 0 20px #000;
}
h1 small {
  color: #cbcbcb;
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
  text-shadow: 0 0 20px #000;
}
h2 {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  margin: 0 0 30px;
  text-align: center;
}
h3 {
  color: #662eff;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
}
.home-sub-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fddebd;
  background-color: rgba(253, 222, 189, 0.9);
  color: #222;
  padding-top: 8px;
  height: 48px;
  box-shadow: 0 0 6px #666;
  z-index: 10;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
.home-sub-nav.up {
  opacity: 0;
  visibility: hidden;
}
.home-sub-nav span {
  font-size: 18px;
  line-height: 36px;
}
.home-sticky {
  width: 100%;
  background-color: #d6bdfd;
  background-color: rgba(211, 189, 253, 0.8);
  color: #222;
  padding-top: 8px;
  height: 48px;
  text-align: center;
  box-shadow: 0 0 6px #666;
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
}
.home-sticky span {
  display: inline-block;
  font-size: 19px;
  line-height: 40px;
  vertical-align: middle;
  margin-right: 45px;
}
.home-sticky .btn {
  margin-left: 15px;
}
.home-sticky.stuck {
  background-color: #fddebd;
  background-color: rgba(253, 222, 189, 0.9);
  position: fixed;
  bottom: auto;
  top: 0;
}
.home .sticky-wrapper {
  position: absolute;
  bottom: 0;
  height: 56px;
  width: 100%;
}
.home {
  background: #000
    url(/goapi/getStaticAsset/?file=home_bg_v3.jpg&subdir=home&type=img)
    no-repeat center top;
  height: 300px;
  padding: 145px 0 50px 0;
  position: relative;
}
.home .container {
  position: relative;
}
.home-video-play {
  background: transparent
    url(/goapi/getStaticAsset/?file=video_play.png&subdir=home&type=img)
    no-repeat center center;
  display: block;
  height: 284px;
  width: 483px;
  position: relative;
  top: 47px;
  opacity: 0.65;
  margin: 0 auto;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.home-video-play:hover {
  opacity: 1;
}
.press-logos {
  background-color: #ededed;
  border-top: 1px solid #cecccc;
  padding: 20px 0;
  text-align: center;
}
.press-logos.goa {
  background-color: #fff;
  padding: 31px 0;
}
.press-logos.goa + .features {
  border-top: 1px solid #d7d5d5;
}
.press-logos .logos {
  background: transparent
    url()
    no-repeat center center;
  height: 27px;
  width: 100%;
}
.minimal .press-logos .logos {
  background-image: url();
}
.hp-main-container {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
.hp-main-container .container {
  position: relative;
  height: 600px;
}
.hp-main-container h1 {
  color: #333;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  margin: 0 0 30px;
  text-shadow: none;
}
.tom .hp-main-container h1,
.lady .hp-main-container h1 {
  font-size: 32px;
  line-height: 40px;
}
.middle .hp-main-container h1 {
  color: #1b314c;
  margin: 0 0 25px;
}
.hp-main.tom {
  background: transparent
    url(/goapi/getStaticAsset/?file=img_bg_repeated_tom.jpg&subdir=home%2Ftom&type=img)
    repeat-x 0 0;
}
.tom .hp-main-container {
  background: transparent
    url(/goapi/getStaticAsset/?file=img_bg_tom.jpg&subdir=home%2Ftom&type=img)
    no-repeat center top;
}
.tom .press {
  background: transparent
    url()
    no-repeat center top;
  position: absolute;
  bottom: 80px;
  height: 37px;
  width: 100%;
}
.hp-main.lady {
  background: transparent
    url(/goapi/getStaticAsset/?file=img_bg_repeated_lady.jpg&subdir=home%2Flady&type=img)
    repeat-x 0 0;
}
.lady .hp-main-container {
  background: transparent
    url(/goapi/getStaticAsset/?file=img_bg_lady.jpg&subdir=home%2Flady&type=img)
    no-repeat center top;
}
.lady .press {
  background: transparent
    url()
    no-repeat center top;
  position: absolute;
  bottom: 80px;
  height: 45px;
  width: 100%;
}
.hp-main.middle {
  background: transparent
    url(/goapi/getStaticAsset/?file=img_bg_repeated.jpg&subdir=home%2Fmiddle&type=img)
    repeat-x 0 0;
}
.middle .hp-main-container {
  background: transparent
    url(/goapi/getStaticAsset/?file=img_bg.jpg&subdir=home%2Fmiddle&type=img)
    no-repeat center top;
}
.middle .press {
  background: transparent
    url()
    no-repeat center top;
  position: absolute;
  bottom: 70px;
  height: 21px;
  width: 100%;
}
.hp-main-content {
  margin: 150px 0 0 340px;
  text-align: center;
}
.middle .hp-main-content {
  margin: 80px 0 0;
}
.hp-main-tagline {
  color: #666;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 45px;
}
.middle .hp-main-tagline {
  color: #425369;
  margin: 0 0 35px;
}
.hp-main-plans {
  background: #fd801e;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 20px;
  margin: 0 0 15px 0;
  box-shadow: 0 2px 2px #666;
}
.hp-main-plans:hover {
  background: #d36108;
  color: #fff;
}
.hp-main-signup {
  color: #38393a;
  font-size: 14px;
  font-style: italic;
}
.hp-main-signup:hover {
  color: #666;
}
.has-user .hp-main-signup {
  display: none;
}
.watch-demo {
  position: absolute;
  bottom: 25px;
  text-align: center;
  width: 100%;
}
.watch-demo-link {
  background: transparent
    url(/goapi/getStaticAsset/?file=btn_play.png&subdir=home%2Ftom&type=img)
    no-repeat 0 0;
  display: inline-block;
  padding-left: 22px;
  line-height: 18px;
}
.watch-demo-link:hover {
  background-position: 0 -18px;
}
.site-header.fixed {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Arial, sans-serif;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #d4d4d4;
}
.site-header.middle {
  border-bottom-color: #c8e9ef;
}
.site-header.fixed .site-header-bg {
  background: #fff;
  opacity: 0.7;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.site-header.middle .site-header-bg {
  background: #c4ebf2;
  opacity: 0.7;
}
.site-header.fixed .site-header-notication,
.site-header.fixed .top-nav-vm-btn {
  display: none;
}
.has-user .site-header.fixed .top-nav-vm-btn {
  display: block;
}
.fixed .top-nav > li.divider {
  margin: 0 15px 0 0;
  height: 40px;
  border-color: #d4d4d4;
}
.middle .top-nav > li.divider {
  border-color: #c8e9ef;
}
.fixed .top-nav > li > a {
  color: #939598;
  font-weight: bold;
  text-transform: uppercase;
}
.middle .top-nav > li > a {
  color: #fff;
}
.fixed .top-nav > li.dropdown > a {
  color: #39393a;
}
.fixed .top-nav > li > a:hover,
.fixed .top-nav > li.open > a {
  color: #f47820;
}
.fixed .top-nav .dropdown .caret {
  border-top-color: #39393a;
  border-bottom-color: #39393a;
}
.fixed .top-nav > li > a:hover .caret,
.fixed .top-nav .open .caret {
  border-top-color: #f47820;
  border-bottom-color: #f47820;
}
.hp-main-btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0 10px 10px;
  padding: 15px 35px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: 0 2px 2px #444;
}
.hp-main-btn.orange {
  background-color: #f27935;
}
.hp-main-btn.orange:hover {
  background-color: #c15f27;
  color: #fff;
}
.hp-main-btn.green {
  background-color: #1fbba6;
}
.hp-main-btn.green:hover {
  background-color: #029a85;
  color: #fff;
}
.character .hp-main-container {
  position: relative;
  background-color: #36588a;
}
.character .hp-main-content {
  margin: 0;
  padding-top: 50px;
}
.character .hp-main-container h1 {
  color: #fff;
  font-size: 40px;
  margin: 0 0 10px;
  text-transform: none;
}
.character .hp-main-tagline {
  color: #eee;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px;
}
.character .watch-video {
  height: 330px;
  width: 100%;
  margin-top: 40px;
  position: relative;
  background: transparent
    url(/goapi/getStaticAsset/?file=img_characters.jpg&subdir=home%2Fcharacter&type=img)
    no-repeat center top;
  z-index: 2;
}
.character .watch-video-link {
  background: transparent
    url(/goapi/getStaticAsset/?file=video_play.png&subdir=home%2Fcharacter&type=img)
    no-repeat center center;
  display: block;
  width: 464px;
  height: 0;
  padding-top: 244px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 13px;
  opacity: 0.65;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}
.character .watch-video-link:hover {
  opacity: 1;
}
.character .press {
  background: #1e3553
    url()
    no-repeat center center;
  height: 80px;
  width: 100%;
  margin-top: -7px;
}
.lady2 .hp-main-container {
  background: #fff
    url(/goapi/getStaticAsset/?file=img_lady.jpg&subdir=home%2Flady2&type=img)
    no-repeat center -30px;
  min-width: 960px;
}
.lady2 .hp-main-container .container {
  height: 570px;
}
.lady2 .hp-main-content {
  margin: 80px 0 0 360px;
  text-align: left;
}
.lady2 .hp-main-container h1 {
  color: #252525;
  font-size: 42px;
  text-align: left;
  text-transform: none;
  margin-bottom: 20px;
}
.lady2 .hp-main-tagline {
  color: #000;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px;
}
.lady2 .hp-main-btn {
  margin: 0 20px 0 0;
}
.lady2 .watch-video-link {
  background: transparent
    url(/goapi/getStaticAsset/?file=video_play_s.png&subdir=home%2Flady2&type=img)
    no-repeat center center;
  display: block;
  width: 300px;
  height: 0;
  padding-top: 184px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 327px;
  left: 349px;
  opacity: 0.65;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -ms-transform: skew(-2deg, 2deg);
  -webkit-transform: skew(-2deg, 2deg);
  transform: skew(-2deg, 2deg);
}
.lady2 .watch-video-link:hover {
  opacity: 1;
}
.lady2 .press {
  background: #1e3553
    url()
    no-repeat center center;
  height: 80px;
  width: 100%;
}
.features {
  background-color: #2e2e2e;
  border-bottom: 1px solid #4e4e4e;
  padding: 60px 0;
}
.feature {
  text-align: center;
}
.feature p {
  color: #ccc;
  font-size: 15px;
  margin: 10px auto;
  width: 250px;
}
.feature h3 {
  font-size: 18px;
  line-height: 24px;
}
.tools {
  background: #132236;
  background: -moz-linear-gradient(top, #132236 0, #1b304b 50%, #132236 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #132236),
    color-stop(50%, #1b304b),
    color-stop(100%, #132236)
  );
  background: -webkit-linear-gradient(
    top,
    #132236 0,
    #1b304b 50%,
    #132236 100%
  );
  background: -o-linear-gradient(top, #132236 0, #1b304b 50%, #132236 100%);
  background: -ms-linear-gradient(top, #132236 0, #1b304b 50%, #132236 100%);
  background: linear-gradient(to bottom, #132236 0, #1b304b 50%, #132236 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#132236',endColorstr='#132236',GradientType=0);
}
.flash-able.tools {
  height: 800px;
  padding-top: 0;
}
.flash-able.themes {
  height: 680px;
  padding-top: 0;
}
.swf-headline {
  color: #fff;
  font-size: 15px;
  text-align: center;
}
.swf-headline h2 {
  color: #fff;
  margin-bottom: 10px;
}
.flash-able .swf-headline {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}
.be-bold {
  padding: 70px 0;
}
.bold-container {
  background: #fff
    url(/goapi/getStaticAsset/?file=bebold_bg.jpg&subdir=home&type=img)
    repeat 0 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 50px 70px 100px;
}
.bold-container h2 {
  background: transparent
    url(/goapi/getStaticAsset/?file=beboldbar.png&subdir=home&type=img)
    no-repeat center center;
  color: #662eff;
  font-size: 36px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px #000;
}
.be-bold-tagline {
  color: #2e4eff;
  font-size: 20px;
  width: 720px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
}
.be-bold p {
  color: #ccc;
  text-shadow: 1px 1px 2px #000;
}
.bold-features {
  background: transparent
    url(/goapi/getStaticAsset/?file=go-modern-video.png&subdir=home&type=img)
    no-repeat center center;
  font-size: 15px;
  position: relative;
  height: 1000px;
  margin-top: 40px;
}
.bold-features .flexibility {
  width: 350px;
  position: absolute;
  bottom: 740px;
  left: 260px;
}
.bold-features .explainer-video {
  width: 330px;
  position: absolute;
  bottom: 620px;
  right: 0;
}
.bold-features .characters {
  width: 250px;
  position: absolute;
  top: 160px;
  left: 0;
}
.bold-features .explanation {
  width: 270px;
  position: absolute;
  top: 670px;
  left: 0;
}
.bold-features .with-animation {
  width: 320px;
  position: absolute;
  top: 750px;
  left: 300px;
}
.bold-features .targeted-marketing {
  width: 300px;
  position: absolute;
  top: 690px;
  right: 0;
}
.sample-videos {
  background-color: #1b304b;
  border-top: 1px solid #dfdede;
  padding: 60px 0 40px;
}
.sample-videos h2 {
  color: #fff;
}
.industry-experts {
  background-color: #fff;
  border-top: 1px solid #dfdede;
  padding: 60px 0 50px;
}
.expert {
  text-align: center;
  padding: 10px;
}
.expert-logo {
  height: 80px;
}
.export-speak {
  font-size: 15px;
  padding: 0 30px;
  position: relative;
}
.export-speak strong {
  color: #ff7800;
}
.export-speak small {
  font-size: 12px;
}
.export-speak:before {
  content: "\201C";
  color: #d7e2ee;
  font-family: Georgia, serif;
  font-size: 70px;
  position: absolute;
  top: 15px;
  left: 0;
}
.export-speak:after {
  content: "\201D";
  color: #d7e2ee;
  font-family: Georgia, serif;
  font-size: 70px;
  position: absolute;
  bottom: -15px;
  right: 0;
}
.our-customers {
  background: transparent url(/goapi/getStaticAsset/?file=bg_dark01.png&subdir=home&type=img) repeat 0 0;
  border-top: 1px solid #4e4e4e;
  border-bottom: 1px solid #4e4e4e;
  padding: 60px 0;
}
.customers {
  width: 1000px;
  margin-left: -40px;
}
.customer {
  float: left;
  width: 293px;
  margin-left: 40px;
}
.customer-bubble {
  background-color: #fff;
  border: 1px solid #cecccc;
  border-radius: 4px;
  padding: 20px 40px;
  margin-bottom: 30px;
  font-size: 15px;
  position: relative;
  box-shadow: 0 0 4px #cecccc;
}
.customer-bubble:before {
  content: "";
  display: inline-block;
  background: transparent
    url(/goapi/getStaticAsset/?file=customer_arrow.png&subdir=home&type=img)
    no-repeat 0 0;
  height: 19px;
  width: 33px;
  position: absolute;
  top: 100%;
  left: 37px;
}
.customer-quote {
  height: 175px;
  line-height: 25px;
}
.customer-quote span {
  display: block;
  position: relative;
}
.customer-quote span:before {
  content: "\201C";
  color: #d7e2ee;
  font-family: Georgia, serif;
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: -25px;
}
.customer-quote span:after {
  content: "\201D";
  color: #d7e2ee;
  font-family: Georgia, serif;
  font-size: 50px;
  position: absolute;
  bottom: -15px;
  right: -25px;
}
.customer-name {
  color: #ef8d37;
  font-weight: bold;
}
.customer-organization {
  font-size: 13px;
}
.customer-profile {
  position: relative;
  height: 75px;
  padding: 20px 0 0 110px;
}
.customer-profile > img {
  position: absolute;
  top: 0;
  left: 12px;
}
.customer-watch,
.customer-download {
  color: #136c79;
}
.customer-watch {
  background: transparent
    url(/goapi/getStaticAsset/?file=view_video.png&subdir=home&type=img)
    no-repeat center right;
  padding-right: 18px;
}
.customer-download {
  background: transparent
    url(/goapi/getStaticAsset/?file=pdf.png&subdir=home&type=img)
    no-repeat center right;
  padding-right: 20px;
}
.product-usage {
  background: transparent
    url(/goapi/getStaticAsset/?file=littlecost_bg.png&subdir=home&type=img)
    repeat 0 0;
  padding: 60px 0;
}
.usages {
  width: 1020px;
  margin-left: -60px;
}
.usage {
  color: #ccc;
  float: left;
  font-size: 15px;
  width: 270px;
  margin-left: 60px;
}
.plans {
  background: #8178ff
    url(/goapi/getStaticAsset/?file=orangebar_shade.png&subdir=home&type=img)
    no-repeat center 0;
  color: #fff;
  font-size: 30px;
  padding: 30px 0;
  text-align: center;
}
.plans span {
  margin-right: 45px;
}
.plans .btn {
  margin-left: 15px;
}
.video-modal {
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  width: 800px;
  margin-left: -405px;
}
.video-modal-content {
  clear: both;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-modal-content iframe,
.video-modal-content object,
.video-modal-content embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wistia-embed-wrapper {
  position: relative;
  height: 0;
  margin-top: 25px;
  padding-bottom: 56.25%;
}
.wistia-embed-wrapper .wistia-embed-padding {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.wistia-embed-wrapper .wistia_embed {
  width: 100%;
  height: 100%;
}
.modal-backdrop {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.videos-container {
  width: 990px;
  margin-left: -30px;
}
.video-holder {
  border-radius: 5px;
  box-shadow: 0 0 5px #999;
  cursor: pointer;
  float: left;
  padding: 7px;
  margin: 0 0 30px 30px;
  position: relative;
  width: 286px;
  background-color: #fff;
}
.vthumb {
  background-color: #000;
  width: 286px;
  height: 161px;
  overflow: hidden;
  position: relative;
}
.vthumb-clip {
  position: absolute;
  top: -100px;
  bottom: -100px;
  left: -100px;
  right: -100px;
  text-align: center;
}
.vthumb-clip-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.vthumb .vthumb-clip img {
  width: 286px;
  display: inline-block;
  vertical-align: middle;
}
.vthumb-clip .valign {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.video-holder .play {
  background: url(/goapi/getStaticAsset/?file=btn_play_small.png&subdir=home&type=img)
    no-repeat center center;
  opacity: 0.65;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}
.video-holder:hover .play {
  opacity: 1;
}
.flexible-workflow {
  padding: 55px 0 70px;
  background-color: #2e2e2e;
  border-top: 1px solid #4e4e4e;
}
.flexible-workflow-container {
  border-radius: 6px;
  padding: 50px 70px 100px;
  width: 707px;
  background: transparent url(/goapi/getStaticAsset/?file=bg_dark01.png&subdir=home&type=img) repeat 0 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.flexible-workflow-container .header {
  line-height: 90px;
  text-align: center;
  font-size: 30px;
}
.flexible-workflow-container .content-block:first-of-type {
  background: url(/goapi/getStaticAsset/?file=workflow-dotedline.png&subdir=home&type=img)
    repeat-y 25px 5px;
  margin-top: 40px;
}
.flexible-workflow-container .content-block:last-of-type {
  background: url(/goapi/getStaticAsset/?file=workflow-dotedline.png&subdir=home&type=img)
    no-repeat 25px 0;
  padding-bottom: 0;
}
.flexible-workflow-container .content-block {
  background: url(/goapi/getStaticAsset/?file=workflow-dotedline.png&subdir=home&type=img)
    repeat-y 25px 0;
  padding-bottom: 10px;
}
.flexible-workflow-container .icon {
  display: block;
  float: left;
  width: 52px;
  height: 52px;
}
.flexible-workflow-container .scripting {
  width: 52px;
  height: 52px;
  background: url(/goapi/getStaticAsset/?file=workflow-icon.png&subdir=home&type=img)
    no-repeat 0 -53px;
}
.flexible-workflow-container .voice {
  width: 52px;
  height: 52px;
  background: url(/goapi/getStaticAsset/?file=workflow-icon.png&subdir=home&type=img)
    no-repeat -104px 0;
}
.flexible-workflow-container .visual {
  width: 52px;
  height: 52px;
  background: url(/goapi/getStaticAsset/?file=workflow-icon.png&subdir=home&type=img)
    no-repeat -53px -53px;
}
.flexible-workflow-container .audio {
  width: 52px;
  height: 52px;
  background: url(/goapi/getStaticAsset/?file=workflow-icon.png&subdir=home&type=img)
    no-repeat 0 0;
}
.flexible-workflow-container .publish {
  width: 52px;
  height: 52px;
  background: url(/goapi/getStaticAsset/?file=workflow-icon.png&subdir=home&type=img)
    no-repeat -53px 0;
}
.flexible-workflow-container .sub-content-container {
  margin-left: 70px;
  width: 637px;
  font-size: 15px;
  color: #ccc;
  padding-top: 10px;
}
.flexible-workflow-container .sub-content-container .sub-header {
  font-size: 18px;
  font-weight: bold;
  color: #662eff;
  text-shadow: 1px 1px 2px #000;
  line-height: 45px;
}
.school {
  background-color: #fff;
  border-top: 1px solid #cecccc;
  border-bottom: 1px solid #cecccc;
}
.school-container {
  text-align: center;
  line-height: 30px;
}
.school .g4s-icon {
  margin-left: 30px;
  padding-left: 30px;
  background: transparent
    url(/goapi/getStaticAsset/?file=school_icon.png&subdir=home&type=img)
    no-repeat center left;
}
.minimal {
  background-color: #eee;
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 56px;
}
.to-features {
  display: none;
}
.minimal .to-features {
  display: block;
  border-bottom: 5px solid #233d62;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}
.to-features a {
  background-color: #233d62;
  border-radius: 5px 5px 0 0;
  color: #fff;
  display: inline-block;
  padding: 0 20px;
}
.to-features .arrow {
  background: transparent
    url(/goapi/getStaticAsset/?file=scrolldown_init.png&subdir=home&type=img)
    no-repeat right center;
  display: inline-block;
  padding-right: 20px;
}
.to-features a:hover .arrow {
  background-image: url(/goapi/getStaticAsset/?file=scrolldown_over.png&subdir=home&type=img);
}
.minimal .home {
  background: transparent;
  height: auto;
}
.minimal h1 {
  font-size: 44px;
  font-weight: normal;
  margin-bottom: 40px;
}
.minimal h1 small {
  color: #666;
  font-size: 18px;
  margin-top: 20px;
  padding: 0 40px;
}
.minimal .home-content {
  text-align: center;
  width: 400px;
  height: 360px;
  margin-left: 540px;
}
.home-action {
  display: none;
}
.minimal .home-action {
  display: block;
}
.home-action-text {
  margin-top: 20px;
}
.minimal .home-video {
  background: transparent
    url(/goapi/getStaticAsset/?file=home_videobg.png&subdir=home&type=img)
    no-repeat 0 0;
  width: 647px;
  height: 352px;
  position: absolute;
  top: 20px;
  right: 390px;
}
.minimal .home-video-play {
  height: 250px;
  width: 426px;
  top: 15px;
  left: 110px;
}
.minimal .press-logos {
  background-color: #eee;
  border-top: 0;
}
.minimal .school {
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.minimal .home-sticky {
  display: none;
}
.minimal .sticky-wrapper .home-sticky {
  display: block;
}
.minimal .home .sticky-wrapper {
  bottom: -227px;
}
@media (min-width: 768px) and (max-width: 991px) {
  h1,
  h2 {
    font-size: 32px;
  }
  h1 small {
    font-size: 18px;
  }
  .row {
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span4 {
    margin-left: 0;
    width: 33.3333333%;
  }
  .home-sticky span {
    font-size: 14px;
  }
  .home-sticky.stuck {
    position: static;
  }
  .be-bold {
    background-color: #2e2e2e;
    padding: 0;
  }
  .bold-container {
    box-shadow: none;
    padding: 40px 20px;
  }
  .be-bold-tagline {
    width: auto;
  }
  .bold-features {
    background: 0;
    margin: 20px 0;
    height: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .bold-features .flexibility {
    width: 50%;
    position: static;
  }
  .bold-features .explainer-video {
    width: 50%;
    position: static;
  }
  .bold-features .characters {
    width: 50%;
    position: static;
  }
  .bold-features .explanation {
    width: 50%;
    position: static;
  }
  .bold-features .with-animation {
    width: 50%;
    position: static;
  }
  .bold-features .targeted-marketing {
    width: 50%;
    position: static;
  }
  .bold-features > div {
    width: 50%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .flexible-workflow-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 40px 20px;
  }
  .flexible-workflow-container .sub-content-container {
    width: auto;
    padding-top: 5px;
  }
  .flexible-workflow-container .sub-content-container .sub-header {
    font-size: 15px;
  }
  .videos-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .video-holder {
    display: inline-block;
    float: none;
    margin: 0 15px 30px;
  }
  .customers {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .customer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.3333333%;
    margin: 0;
    padding: 0 15px;
  }
  .customer-bubble {
    font-size: 13px;
  }
  .usages {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 15px;
  }
  .usage {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 5px 15px;
  }
  .plans {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  h1 small {
    font-size: 14px;
    line-height: 20px;
  }
  h2 {
    font-size: 24px;
  }
  .row {
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span4 {
    margin-left: 0;
    width: 100%;
  }
  .home {
    padding-top: 30px;
  }
  .home-video {
    display: none;
  }
  .home-sticky.stuck {
    position: static;
  }
  .home-sticky span {
    display: none;
  }
  .home-sticky .btn-large {
    padding: 9px 15px;
    font-size: 14px;
  }
  .home-sticky .btn {
    margin-left: 0;
  }
  .home-sticky .btn + .btn {
    margin-left: 10px;
  }
  .press-logos .logos {
    background-size: 100% auto;
  }
  .feature + .feature {
    margin-top: 10px;
  }
  .videos-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .video-holder {
    display: inline-block;
    float: none;
    margin: 0 15px 30px;
  }
  .customers {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .customer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 15px;
  }
  .customer-bubble {
    font-size: 13px;
  }
  .customer-quote {
    height: auto;
  }
  .be-bold,
  .flexible-workflow,
  .product-usage,
  .plans {
    display: none;
  }
}