.ga-importer-share-panel-top {
  background-color: #d6d6d6;
  box-shadow: 0 4px 4px -2px #aaa;
  padding: 5px 10px;
}
.ga-importer-share-panel-top .quit {
  color: #666;
  text-transform: uppercase;
}
.ga-importer-share-panel-control {
  padding: 10px 0;
  border-bottom: 1px dotted #b5b5b5;
}
.control-checkbox,
.control-member-select,
.control-submit {
  display: inline-block;
}
.control-checkbox {
  width: 30px;
  text-align: center;
}
.control-member-select {
  padding-right: 5px;
}
.control-submit > .btn {
  text-transform: uppercase;
}
.member-select {
  width: 130px;
}
.member-select > .btn {
  width: 100%;
}
.ga-importer-share-assets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.share-asset {
  border-bottom: 1px dotted #b5b5b5;
  position: relative;
  padding: 10px 0;
  min-height: 40px;
  position: relative;
}
.share-asset-selection {
  float: left;
  width: 30px;
  text-align: center;
}
.share-asset-selection > input[type="checkbox"] {
  margin-top: 13px;
}
.share-asset-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #b5b5b5;
  text-align: center;
  float: left;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
}
.share-asset-icon:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.share-asset-icon img {
  max-width: 40px;
  max-height: 40px;
}
.share-asset-icon.prop {
  background: transparent url(../img/importer/tab_prop.png) no-repeat center
    center;
  padding-top: 40px;
  height: 0;
}
.share-asset-icon.image {
  background: transparent url(../img/importer/tab_photos.png) no-repeat center
    center;
  padding-top: 40px;
  height: 0;
}
.share-asset-icon.bg {
  background: transparent url(../img/importer/tab_bg.png) no-repeat center
    center;
  padding-top: 40px;
  height: 0;
}
.share-asset-icon.sound {
  background: transparent url(../img/importer/tab_music.png) no-repeat center
    center;
  padding-top: 40px;
  height: 0;
}
.share-asset-icon.video {
  background: transparent url(../img/importer/tab_videoupload.png) no-repeat
    center center;
  padding-top: 40px;
  height: 0;
}
.share-asset-icon.flash {
  background: transparent url(../img/importer/tab_flash.png) no-repeat center
    center;
  padding-top: 40px;
  height: 0;
}
.share-asset-icon.font {
  background: transparent url(../img/importer/tab_font.png) no-repeat center
    center;
  padding-top: 40px;
  height: 0;
}
.share-asset .filename {
  color: #505e73;
  font-size: 13px;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.share-asset .category {
  color: #888;
}
.share-type {
  color: #96a2b4;
  position: absolute;
  bottom: 7px;
  right: 10px;
  font-size: 85%;
}
.share-type > .none,
.share-type > .team,
.share-type > .shared {
  display: none;
}
.share-type.none > .none,
.share-type.team > .team,
.share-type.shared > .shared {
  display: inline-block;
}
.member-select .member-select-item {
  margin-right: 6px;
}
.member-select .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -2px;
  vertical-align: middle;
}
