.importer-button {
  background-color: #1fbba6;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0 20px;
}
.importer-button:hover {
  background-color: #029a85;
}
.importer-button.disabled,
.importer-button[disabled] {
  cursor: default;
  opacity: 0.5;
  color: #fff;
  background-color: #d6d6d6;
  border-color: #d3d3d3;
}
.ga-importer {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #ccc;
  width: 260px;
  height: 100%;
  min-height: 640px;
}
.ga-importer.show {
  left: 0;
}
.ga-importer-header {
  padding: 10px;
  border-bottom: 1px solid #b5b5b5;
  text-align: center;
}
.ga-importer-collapse {
  display: block;
  position: absolute;
  top: -5px;
  right: 3px;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  color: #505e73;
}
.ga-importer-collapse:hover {
  color: #505e73;
  text-decoration: none;
}
.fileinputs {
  position: relative;
  display: inline-block;
  margin-right: 7px;
}
.file-trigger {
  width: 140px;
  text-align: center;
}
.ga-importer-file-input {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  filter: alpha(opacity(0));
  cursor: pointer;
  z-index: 2;
  width: 140px !important;
}
.ga-importer-content {
  overflow-y: auto;
}
.ga-importer-start {
  font-size: 11px;
  padding: 0 20px;
}
.ga-importer-start-draghere {
  background: transparent url(../img/importer/bg_draghere.png) no-repeat center
    0;
  padding-top: 90px;
  margin: 20px 0 20px;
  font-size: 21px;
  text-align: center;
}
.ga-importer-instruction {
  border-top: 1px dotted #b5b5b5;
  border-bottom: 1px dotted #b5b5b5;
  color: #777;
  margin: 40px 0 20px;
  padding: 10px 0;
}
.ga-importer-instruction strong {
  color: #738299;
  font-weight: normal;
}
.ga-importer-instruction a {
  color: #43bca5;
}
.ga-import-dnd-hint {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 24px;
  line-height: 36px;
  background-color: rgba(183, 229, 223, 0.9);
  border: 5px solid #1fbba6;
  color: #32bdaa;
  padding-top: 180px;
  text-align: center;
  vertical-align: middle;
  display: none;
}
.ga-import-dnd-hint.dragover {
  display: block;
}
.ga-importer-results {
  background-color: #d6d6d6;
}
.ga-importer-notice {
  border-bottom: 1px dotted #b5b5b5;
  font-size: 11px;
  padding: 10px;
}
.ga-importer-notice a {
  color: #666;
  font-weight: normal;
  text-decoration: underline;
}
.ga-importer-notice a:hover {
  color: #888;
}
.ga-importer-notice a.open-your-library {
  color: #1fbba6;
  font-weight: bold;
  text-decoration: none;
}
.ga-importer-queue-message {
  background-color: #777;
  color: #fff;
  padding: 10px 5px;
  display: none;
  position: relative;
}
.ga-importer-queue-message:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-width: 6px 6px 0;
  border-top-color: #777;
}
.ga-importer-files,
.ga-importer-queue {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ga-importer-file {
  border-bottom: 1px dotted #b5b5b5;
  position: relative;
  padding: 5px 10px;
  min-height: 40px;
}
.ga-importer-file-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #b5b5b5;
  text-align: center;
  float: left;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
}
.ga-importer-file-icon:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.ga-importer-file-icon img {
  max-width: 40px;
  max-height: 40px;
}
.ga-importer-file-icon.prop {
  background: transparent url(../img/importer/tab_prop.png) no-repeat center
    center;
  padding-top: 40px;
  height: 0;
}
.ga-importer-file-icon.image {
  background: transparent url(../img/importer/tab_photos.png) no-repeat center
    center;
  padding-top: 40px;
  height: 0;
}
.ga-importer-file-icon.bg {
  background: transparent url(../img/importer/tab_bg.png) no-repeat center
    center;
  padding-top: 40px;
  height: 0;
}
.ga-importer-file-icon.sound {
  background: transparent url(../img/importer/tab_music.png) no-repeat center
    center;
  padding-top: 40px;
  height: 0;
}
.ga-importer-file-icon.video {
  background: transparent url(../img/importer/tab_videoupload.png) no-repeat
    center center;
  padding-top: 40px;
  height: 0;
}
.ga-importer-file-icon.flash {
  background: transparent url(../img/importer/tab_flash.png) no-repeat center
    center;
  padding-top: 40px;
  height: 0;
}
.ga-importer-file-icon.font {
  background: transparent url(../img/importer/tab_font.png) no-repeat center
    center;
  padding-top: 40px;
  height: 0;
}
.ga-importer-file-icon.loading {
  background: #d6d6d6 url(../img/importer/loading.gif) no-repeat center center;
  padding-top: 40px;
  height: 0;
}
.ga-importer-file-icon.invalid {
  background: transparent url(../img/importer/icon_error.png) no-repeat center
    center;
  padding-top: 40px;
  height: 0;
  border: 1px solid transparent;
}
.ga-importer-file-progress-bar {
  background-color: #fff;
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
  height: 6px;
  width: 38px;
  padding: 1px;
  display: inline-block;
  vertical-align: middle;
}
.ga-importer-file-progress-bar .upload-progress {
  background-color: #e97d3b;
  height: 6px;
  width: 0;
}
.ga-importer-file .filename {
  color: #505e73;
  font-size: 13px;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ga-importer-file .actions {
  font-size: 13px;
}
.ga-importer-file .add-to-scene,
.ga-importer-file .add-to-frame {
  color: #43bca5;
  font-weight: normal;
  text-decoration: none;
  float: right;
  display: none;
}
.ga-importer-file .processing {
  color: #e97d3b;
  display: none;
}
.ga-importer-file .processing > span {
  display: none;
}
.ga-importer-file .cancel,
.ga-importer-file .clear {
  color: #43bca5;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  position: absolute;
  top: 3px;
  right: 3px;
  display: none;
}
.ga-importer-file .cancel:hover,
.ga-importer-file .clear:hover {
  text-decoration: none;
}
.ga-importer-file .menu {
  display: none;
  margin-right: 10px;
}
.ga-importer-file .category {
  color: #888;
  font-size: 85%;
  margin-right: 5px;
  display: none;
}
.ga-importer-file.ready .add-to-scene,
.ga-importer-file.waiting .menu,
.ga-importer-file.waiting .cancel,
.ga-importer-file.processing .processing,
.ga-importer-file.uploading .cancel,
.ga-importer-file.uploading .category,
.ga-importer-file.pending .category,
.ga-importer-file.pending .cancel,
.ga-importer-file.imported .category,
.ga-importer-file.invalid .error,
.ga-importer-file.deleted .error,
.ga-importer-file.imported .clear,
.ga-importer-file.invalid .clear {
  display: inline-block;
}
.is-for-image-frame .ga-importer-file.ready .add-to-scene {
  display: none;
}
.is-for-image-frame .ga-importer-file.ready.image-prop .add-to-frame {
  display: inline-block;
}
.studio-locked .ga-importer-file.ready .add-to-scene {
  display: none;
}
.ga-importer-base-form {
  margin: 0;
  padding: 0;
}
.hints {
  position: relative;
  color: #96a2b4;
}
.hints .tooltip {
  top: 20px;
  right: -30px;
  width: 200px;
  margin-top: 3px;
  padding: 5px 0;
}
.hints .tooltip-inner {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}
.hints .tooltip-inner > ul {
  padding-left: 25px;
  margin: 0;
}
.hints .tooltip-arrow {
  top: 0;
  left: 160px;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000;
}
.ga-importer-queue-message .hints .tooltip {
  right: -5px;
}
.ga-importer-queue-message .hints .tooltip-arrow {
  left: 185px;
}
.menu .dropdown-toggle {
  text-transform: uppercase;
}
.menu .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.menu a:hover > .caret,
.menu a:active > .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.import-as-btn {
  display: inline-block;
  padding: 1px 5px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  background-color: #3c3c3c;
  border-color: #222;
}
.import-as-btn:focus,
.import-as-btn:active:focus,
.import-as-btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.import-as-btn:hover,
.import-as-btn:focus {
  color: #fff;
  background-color: #4e4e4e;
  border-color: #3c3c3c;
  text-decoration: none;
}
.import-as-btn:active,
.import-as-btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.ga-importer-share {
  background: transparent url(../img/importer/sharing.png) no-repeat 0 0;
  display: inline-block;
  width: 23px;
  height: 0;
  padding-top: 18px;
  overflow: hidden;
}
