

.movie_license_header h1 {
	color: #000;
	font-size: 18px;
	letter-spacing: -1px
}

.movie_license_content {
	padding: 6px 0
}

p.short {
	width: 486px;
	float: left
}

.movie_license_content a,
.movie_license_content a:hover {
	text-decoration: underline
}

.italic_warning {
	font-style: italic;
	margin-top: 10px;
	clear: both;
	text-align: center
}

.button_container {
	height: 40px;
	margin: 0 auto;
	padding: 0 82px;
	text-align: center
}

.button_container .btn {
	margin: 0 5px
}

.btn.large .black {
	color: #000;
	font-size: 13px
}

.vertical_seperator {
	border-left: 1px solid #ddd;
	margin: 0 10px;
	padding: 0;
	width: 1px
}

.top_back_button {
	display: none
}

.movie_license_pricebox {
	background-color: #ccc;
	color: #666;
	float: right;
	font-size: 26px;
	font-weight: bold;
	margin: 6px 0 20px;
	padding: 15px 18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.movie_license_gray_area {
	clear: both;
	padding: 20px;
	background-color: #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.movie_license_gray_area .paging {
	float: right;
	font-weight: bold
}

.movie_license_gray_area .form_entry {
	clear: both;
	padding-bottom: 7px;
	margin-left: 20px
}

.movie_license_gray_area .form_entry.left_most {
	clear: both;
	padding-bottom: 5px
}

.movie_license_gray_area .label {
	border: 0 none;
	font-size: 12px;
	margin-right: 5px;
	text-transform: none;
	width: 120px
}

.movie_license_gray_area .form_entry.left_most .label {
	float: left;
	width: 160px
}

.movie_license_gray_area .red {
	color: #f00
}

.movie_license_gray_area .radio_label {
	margin-top: -1px
}

.movie_license_gray_area .input-text {
	width: 180px;
	margin-left: 4px
}

.movie_license_gray_area .input-text.short {
	width: 85px;
	margin-right: 4px
}

.movie_license_gray_area .button_container {
	padding: 10px 0 0;
	height: 35px
}

.movie_license_gray_area .sub-heading {
	padding-bottom: 26px;
	font-weight: bold;
	font-size: 14px
}

.movie_license_gray_area .title,
.movie_license_gray_area .url,
.movie_license_gray_area .content {
	font-size: 13px
}

.movie_license_gray_area .content {
	padding-top: 30px;
	width: 575px
}

.movie_license_gray_area .title_bracket {
	height: 40px;
	border-top: solid 1px #ccc;
	padding: 8px 0
}

.movie_license_gray_area .title {
	border-right: 1px solid #ccc;
	display: block;
	float: left;
	font-size: 15px;
	font-weight: bold;
	height: 40px;
	padding-top: 10px;
	width: 177px
}

.movie_license_gray_area .title_content {
	display: block;
	float: left;
	font-size: 15px;
	padding-left: 20px;
	padding-top: 10px
}

.movie_license_gray_area_top {
	clear: both;
	padding: 5px 20px;
	background-color: #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	height: 25px
}

.licence_text_container {
	padding: 10px;
	text-align: center
}

.grey_license_box {
	background-color: #ccc;
	border-radius: 5px 5px 5px 5px;
	font-size: 30px;
	font-weight: bold;
	margin: 0 90px;
	padding: 20px;
	width: 400px
}

.cc-form-secure {
	float: left;
	margin-top: -23px
}

.cc_container {
	float: left;
	width: 150px
}

#ccccv {
	width: 180px
}

#ccvbox-link {
	color: #999;
	margin-left: 10px;
	position: relative
}

#ccvbox {
	display: none;
	cursor: auto;
	position: absolute;
	left: 100%;
	top: 0;
	width: 245px;
	min-height: 190px;
	border: 1px solid #999;
	color: #333;
	background-color: #fff;
	z-index: 5000
}

#ccvbox-link:hover #ccvbox {
	display: block
}

#ccvbox .header {
	padding: 3px 8px;
	width: 229px;
	height: 19px;
	font-size: 14px;
	background-color: #ddd
}

#ccvbox .content {
	width: 245px;
	font-size: 11px
}

input[type="radio"] {
	margin-top: -2px;
	margin-left: 4px
}