.video-listing-grid {
  margin-top: 0;
  min-height: 500px;
  position: relative;
}
@media (max-width: 991px) {
  .video-listing-grid {
    margin-top: 40px;
  }
}
.video-listing-header .title {
  margin-left: 82px;
  width: 312px;
}
.video-listing-header .times {
  margin-left: 10px;
  width: 200px;
}
.video .status-container,
.video .main,
.video .datetime {
  line-height: normal;
}
.video .actions {
  float: right;
  line-height: 40px;
}
.video .status-container {
  padding-left: 0;
  overflow: hidden;
  position: relative;
  width: 70px;
  height: 36px;
}
.video .status {
  height: 36px;
  width: 70px;
  position: absolute;
  left: 65px;
  top: 0;
  color: #fff;
  font-size: 12px;
  opacity: 0.9;
  -moz-transition: left 0.25s linear 0.25s;
  -webkit-transition: left 0.25s linear 0.25s;
  -o-transition: left 0.25s linear 0.25s;
  transition: left 0.25s linear 0.25s;
}
.status-container:hover .status {
  left: 0;
}
.video .status.draft {
  background-color: #6f6f6f;
}
.video .status.password-protected {
  background-color: #a94442;
}
.video .status.private {
  background-color: #f39e09;
}
.video .status.public {
  background-color: #1091db;
}
.video .status.unlisted {
  background-color: #ba8e3f;
}
.video .status > span {
  display: none;
  position: absolute;
  left: 6px;
  bottom: 4px;
  text-transform: uppercase;
}
.video .status.draft .draft-text,
.video .status.password-protected .password-protected-text,
.video .status.private .private-text,
.video .status.public .public-text,
.video .status.unlisted .unlisted-text {
  display: block;
  font-size: 10px;
}
.video .main {
  width: 312px;
}
.video .main .stats {
  display: none;
}
.video .main.public .stats {
  display: inline;
}
.hide-stats .stats {
  display: none;
}
.hide-folders .folders {
  display: none;
}
.video .datetime {
  width: 200px;
  white-space: normal;
}
.video-list-header {
  padding-bottom: 32px;
  font-size: 14px;
}
.video-list-header .video-status-filter a.active {
  color: #d85e27;
  cursor: default;
}
.video-listing-heading .list-name > span {
  font-size: 18px;
}
.video-listing-heading .list-name > span:first-child {
  font-size: 32px;
}
.video-listing-heading .list-name {
  display: inline-block;
  width: 420px;
  height: 40px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
.video-listing-heading .list-name span {
  font-weight: bold;
}
#video-listing .grid-row {
  padding: 10px;
}
#video-listing .folder-access .video-listing .drag-handle {
  cursor: move;
}
#video-listing .video-listing .drag-handle.ui-draggable-dragging {
  width: 402px;
  padding: 5px;
  border: 1px solid #aaa;
  background-color: #eee;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.video-listing .video .folder-assign-link .assign,
.video-listing .video .folder-assign-link:hover .uncat {
  display: none;
}
.video-listing .video .folder-assign-link .uncat,
.video-listing .video .folder-assign-link:hover .assign {
  display: inline;
}
.video-breadcrumb {
  margin-bottom: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 200;
}
.video-breadcrumb a {
  font-weight: 200;
}
.video-breadcrumb > li {
  color: #d85e27;
}
.video-breadcrumb .base {
  color: #fff;
  margin-top: 60px;
}
.video-breadcrumb > li + li:before {
  font-weight: 100;
  padding: 0 8px;
}
.overflow-visible {
  overflow: visible;
}
.folder-form-container {
  padding: 20px 0 5px;
}
.folder-form-container .folder-create-form {
  margin-bottom: 10px;
}
.folder-form-container .ico-onbutton-loading {
  background: transparent url(../img/myvideos/loading.gif) no-repeat 0 7px;
  display: inline-block;
  line-height: 20px;
  height: 20px;
  width: 32px;
  vertical-align: middle;
}
.folder-form-container .ico-loading {
  background: transparent url(../img/myvideos/loading2.gif) no-repeat 2px 2px;
  display: inline-block;
  line-height: 20px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
.modal-footer-collapse {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  visibility: hidden;
  overflow: hidden;
  transition-property: visibility, height, padding-top, padding-bottom;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition-delay: 0.25s;
}
.modal-footer-collapse-open {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  visibility: visible;
}
.folder-create-form .btn-create-folder .btn {
  min-width: 125px;
}
.folder-edit-form .folder-name-input,
.folder-create-form .folder-name-input {
  margin-left: 20px;
  margin-right: 10px;
}
.folder-edit-form .btn-delete-folder,
.folder-create-form .btn-delete-folder {
  margin-left: 10px;
}
.folder-edit-form .btn-delete-folder .icon-default,
.folder-create-form .btn-delete-folder .icon-default {
  top: 4px;
}
.folder-edit-form .btn-delete-folder.dimmed {
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.folder-edit-form .btn-delete-folder.dimmed:hover [class^="ico-"],
.folder-edit-form .btn-delete-folder.dimmed:hover [class*=" ico-"] {
  background-image: url(../img/icons/icon_goanimate_black.png);
}
.folder-recover-form-container {
  background: transparent url(../img/myvideos/icon_trash_b.png) no-repeat center
    25px;
  padding-top: 75px;
  line-height: 50px;
  text-align: center;
}
.folder-list {
  padding-bottom: 20px;
}
.folder-list a {
  color: #474747;
  opacity: 0.75;
}
.folder-list a:hover,
.folder-list a:focus {
  color: #d85e27;
  opacity: 1;
}
.folder-list .list-group-item {
  cursor: pointer;
  background-color: #f7f7f7;
}
.folder-list .list-group-item.active,
.folder-list .list-group-item.active:hover,
.folder-list .list-group-item.active:focus {
  background-color: #6831ff;
  border-radius: 10px;
}
.folder-list .list-group-item .caret-container {
  margin-left: -5px;
}
.folder-list .list-group-item .caret-container > .caret.closed {
  border-left: 4px solid;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.folder-list .list-group-item .title {
  margin-left: 6px;
}
.folder-list > .folder-item > .new-folder-icon {
  font-size: 20px;
}
.folder-list > .folder-item > .new-folder-icon > span {
  top: -3px;
}
.folder-list > .folder-item.active > a {
  color: white;
}
.folder-list > .sub-folder-list {
  padding: 10px 30px;
}
.folder-list > #videos-folders-nav {
  padding: 4px 0;
}
.folder-list > .sub-folder-list > .sub-folder-item {
  padding: 8px 30px;
}
.folder-list > .sub-folder-list > .sub-folder-item.active {
  color: white;
  background: #6831ff;
}
.folder-list > .sub-folder-list > .sub-folder-item.active > a {
  color: white;
  opacity: 1;
}
.folder-list > .sub-folder-list > .sub-folder-item {
  font-size: 14px;
}
.folder-list > .sub-folder-list > .sub-folder-item > .folder-name {
  margin-left: 8px;
}
.folder-list > .sub-folder-list > .sub-folder-item > .setting-btn {
  margin-left: 5px;
  color: #999;
  visibility: hidden;
}
.folder-list > .sub-folder-list > .sub-folder-item.active > .setting-btn {
  color: white;
}
.folder-list > .sub-folder-list > .sub-folder-item:hover > .setting-btn {
  visibility: visible;
}
.tools-container {
  width: 130px;
}
.tools-container .btn-group .dropdown-menu {
  right: 0;
}
.movie-drag {
  padding: 10px;
  background: white;
  border: 1px solid #d7d7d7;
}
.movie-drag img {
  width: 70px;
  height: 36px;
}
.movie-drag .title {
  margin-left: 10px;
}
.drag-hover {
  background: #d7d7d7;
}
.td-thumbnail {
  width: 86px;
}
.td-title .title {
  word-break: break-word;
}
.td-date {
  width: 200px;
}
.td-tools {
  width: 130px;
}
.video .divider {
  margin-left: 5px;
}
.video .icon {
  margin-left: 5px;
  font-size: 11px;
}
.video .number {
  margin-left: 5px;
}
.onboarding-message {
  margin-top: 20px;
  margin-bottom: 20px;
}
.onboarding-message > .alert {
  margin-bottom: 0;
}
.onboarding-message h3 {
  margin-top: 0;
}
.onboarding-message-icon {
  float: left;
  padding-right: 10px;
}
.onboarding-message-content {
  overflow: hidden;
}
.emptystate {
  color: #ddd;
  font-size: 24px;
  font-weight: 200;
}
.emptystate-image {
  margin-top: 70px;
  margin-bottom: 50px;
}
.welcome-message {
  padding: 0;
  position: relative;
  min-height: 600px;
  background: #defdff url(../img/myvideos/bg_top_img2.jpg) no-repeat center
    bottom;
  width: 100%;
  text-align: center;
}
.welcome-message__title {
  margin-top: 110px;
  font-size: 50px;
}
.welcome-message__body {
  font-size: 20px;
  font-weight: normal;
}
.welcome-message__cta {
  margin-top: 40px;
}
.welcome-message__small-print {
  font-size: 14px;
  margin-top: 250px;
  margin-bottom: 50px;
  color: #999;
  font-style: italic;
}
.my-video-container .help-center-section {
  background-color: #fff;
  padding: 40px 0;
}
.my-video-container .help-center-section h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-video-container .help-center-section .help-item {
  text-align: center;
  background-color: #f3f3f3;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 260px;
}
.my-video-container .help-center-section .help-item a {
  text-decoration: none;
}
.my-video-container .help-center-section .help-item .open-link-icon {
  display: none;
}
.my-video-container .help-center-section .help-item .hc-link .open-link-icon {
  display: inline-block;
  margin-left: 5px;
}
.my-video-container .help-center-section .help-item .video-duration {
  background-color: #000;
  opacity: 0.6;
  padding: 3px 8px;
  border-radius: 2px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.my-video-container .help-center-section .help-item a .video-duration {
  color: #fff;
}
.my-video-container .help-center-section .help-item a:hover .video-duration {
  color: #1fbba6;
}
.my-video-container .help-center-section .help-item .play-video-icon {
  margin-right: 8px;
}
.my-video-container .help-center-section .help-item .thumb {
  max-width: 260px;
  max-height: 150px;
  margin: 0 auto;
  position: relative;
}
.my-video-container .help-center-section .help-item .thumb > img {
  width: 100%;
}
.my-video-container .help-center-section .help-item .desc {
  padding: 15px 30px;
  height: 70px;
  font-size: 15px;
  font-weight: bold;
  color: #333;
}
.my-video-container .video-modal-content {
  clear: both;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.my-video-container .video-modal-content iframe,
.my-video-container .video-modal-content object,
.my-video-container .video-modal-content embed,
.my-video-container .video-modal-content .wistia_embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 991px) {
  .welcome-message {
    background-image: url(../img/myvideos/bg_top_img_mobile.jpeg);
    background-position: center top;
  }
  .welcome-message__title {
    font-size: 24px;
  }
  .welcome-message__body {
    font-size: 14px;
    color: #555;
  }
  .welcome-message__cta {
    margin-top: 5px;
  }
  .welcome-message__small-print {
    margin-top: 265px;
    margin-bottom: 0;
  }
}

.site-header {
	background-color: #1e1e1e;
	color: #fff;
	text-align: center;
	position: fixed;
	top: 0%;
	width: 100%;
  margin-bottom: 60px;
}

#logo {
	float: left;
	margin-left: 10px;
	margin-top: 3px;
	height: 44px;
}

.button_blue434,
.button_purple,
.button_gray {
	margin-left: 10px;
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	width: 200px;
}

#headbuttons {
	margin-right: 20px;
	margin-top: 8px;
	float: right;
}

#headbuttons>:nth-child(1)::before {
	font-family: 'GlyphiconsRegular';
	text-decoration: none;
	padding: 5px;
	font-size: 14px;
	width: 80px;
	content: '\E136'
}

#headbuttons>:nth-child(2)::before {
	font-family: 'GlyphiconsRegular';
	text-decoration: none;
	padding: 5px;
	font-size: 14px;
	width: 80px;
	content: '\E009'
}

.button_purple {
	background-image: linear-gradient(#5627d8, #24117a);
  font-weight: 400;
}

.button_purple:hover {
	background-image: linear-gradient(#6831ff, #331b9b);
}

.button_blue434 {
	background-image: linear-gradient(#272ad8, #11217a);
  font-weight: 400;
}

.button_blue434:hover {
	background-image: linear-gradient(#2d31ff, #221b8f);
}

.button_gray {
	background-image: linear-gradient(#888888, #555555);
  font-weight: 400;
}

.button_gray:hover {
	background-image: linear-gradient(#999999, #666666);
}

.button_blue434:hover,
.button_purple:hover,
.button_gray:hover {
	cursor: pointer;
}

#char_dropdown {
	width: 250px;
	align-content: center;
}

#char_dropdown>menu {
	position: relative;
	display: none;
	top: 100%;
	margin-right: 4px;
	z-index: 1000;
	float: right;
	width: 95%;
	padding: 10px 0;
	margin-top: 9px;
	margin-bottom: 5px;
	font-size: 14px;
	text-align: center;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

#char_dropdown:hover>menu {
	display: block;
	cursor:default;
}

#char_dropdown>menu>a {
	display: block;
	clear: both;
	font-weight: normal;
	color: #333;
	text-decoration: none;
}

#char_dropdown>menu>a:hover {
	cursor: pointer;
	color: #5627d8;
}

#char_dropdown>menu>a:hover {
	color: #5627d8;
	background-color: #f5f5f5;
}

#char_dropdown>menu>hr {
	border: 1px solid #e5e5e5;
	margin: 10px 0;
}

#char_dropdown>menu>h2 {
	font-size: 15px;
	color: #000;
	margin:0;
	padding:2px 20px;
	font-weight:bold
}