.lightbox {
  position: relative;
  padding: 10px;
  text-align: left;
  width: 650px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #999;
  background: rgba(153, 153, 153, 0.6);
}
.lightbox_wrapper {
  background-color: #fff;
  padding: 10px 20px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.lightbox .close_btn {
  color: #999;
  display: block;
  font: bold 25px/25px Trebuchet MS, Tahoma, sans-serif;
  position: absolute;
  top: 5px;
  right: 10px;
}
.lightbox .close_btn:hover {
  color: #333;
  text-decoration: none;
}
div#darkenScreenObject {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  filter: alpha(opacity=70);
  opacity: 0.7;
  mozopacity: 0.7;
  z-index: 25;
  background-color: black;
  width: 100%;
  height: 100%;
}
* html div#darkenScreenObject {
  position: absolute;
}
div#darkenScreenObjectPlayer {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  filter: alpha(opacity=70);
  opacity: 0.7;
  mozopacity: 0.7;
  z-index: 25;
  background-color: black;
  width: 100%;
  height: 100%;
}
div#overlayAddressbook {
  left: 0;
  top: 0;
  height: 354px;
  width: 550px;
  z-index: 25;
  color: #193e47;
  background: transparent
    url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/gmail_bg.jpg)
    no-repeat scroll 0 0;
}
div#overlayAddressbook h3 {
  color: #193e47;
}
div#overlayAddressBar {
  left: 0;
  top: 354px;
  height: 30px;
  width: 550px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  mozopacity: 0.5;
  z-index: 30;
  background-color: black;
}
div#overlayStudioAddressbook {
  left: 0;
  top: 0;
  height: 354px;
  width: 550px;
  z-index: 25;
  color: #193e47;
  background: transparent
    url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/gmail_bg.jpg)
    no-repeat scroll 0 0;
  margin: 120px 0 0 205px;
}
div#overlayStudioAddressbook h3 {
  color: #193e47;
}
div#contactlist {
  height: 300px;
  width: 500px;
  z-index: 25;
  overflow: hidden;
}
div#contactlistTop {
  margin-top: 20px;
  width: 500px;
  background-position: bottom left;
  height: 19px;
}
div#contactlistBottom {
  width: 500px;
  background-position: top left;
}
div#importgmail {
  height: 275px;
  width: 500px;
  z-index: 25;
}
div#overlayObject {
  position: absolute;
  z-index: 50;
  margin: auto;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/overlay_title01_bg.gif)
    left top repeat-x;
  color: black;
}
div#overlay_close {
  float: right;
  width: 34px;
  height: 30px;
  cursor: pointer;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/i2.gif)
    no-repeat -431px 0;
}
div#overlay_close_preview:hover {
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/i2.gif)
    no-repeat -431px -30px;
}
div#overlayObjectPreview {
  position: absolute;
  z-index: 50;
  margin: auto;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/overlay_title01_bg.gif)
    left top repeat-x;
  color: black;
}
div#overlay_close_preview {
  float: right;
  width: 34px;
  height: 30px;
  cursor: pointer;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/i2.gif)
    no-repeat -431px 0;
}
div#overlay_close:hover {
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/i2.gif)
    no-repeat -431px -30px;
}
div.html_overlay_close {
  float: right;
  width: 34px;
  height: 30px;
  cursor: pointer;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/i2.gif)
    no-repeat -431px 0;
}
div.html_overlay_close:hover {
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/i2.gif)
    no-repeat -431px -30px;
}
div.html_overlay_alert_close {
  float: right;
  width: 34px;
  height: 30px;
  cursor: pointer;
  color: #999;
  display: block;
  font: bold 36px/36px Trebuchet MS, Tahoma, sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/autosave/alert_close2.gif)
    no-repeat 0 0;
}
div.html_overlay_alert_close:hover {
  color: #333;
  text-decoration: none;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/autosave/alert_close2.gif)
    no-repeat 0 -30px;
}
div.progressBoxContent {
  text-align: center;
}
div#overlayProgressClose {
  float: right;
  width: 34px;
  height: 30px;
  cursor: pointer;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/i2.gif)
    no-repeat -431px 0;
}
div#overlayProgressClose:hover {
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/i2.gif)
    no-repeat -431px -30px;
}
div#importgmailbtn {
  float: right;
  padding-right: 10px;
  width: 59px;
  height: 20px;
  cursor: pointer;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/gmail_logo.gif)
    left top;
  background-repeat: no-repeat;
}
div#importyahoobtn {
  float: right;
  padding-right: 10px;
  width: 104px;
  height: 20px;
  cursor: pointer;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/ymail_logo.gif)
    0 3px;
  background-repeat: no-repeat;
}
div#addlistbtn {
  float: left;
  width: 105px;
  height: 30px;
  cursor: pointer;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/buttons/btn_add_list.gif)
    left top;
  background-repeat: no-repeat;
}
div#addlistbtn:hover {
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/buttons/btn_add_list.gif)
    left -30px;
  background-repeat: no-repeat;
}
div#closelistbtn {
  float: right;
  width: 85px;
  height: 30px;
  cursor: pointer;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/buttons/btn_cancel.gif)
    left top;
  background-repeat: no-repeat;
}
div#closelistbtn:hover {
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/buttons/btn_cancel.gif)
    left -30px;
  background-repeat: no-repeat;
}
div#loggmailbtn {
  float: left;
  width: 85px;
  height: 30px;
  cursor: pointer;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/buttons/btn_submit.gif)
    left top;
  background-repeat: no-repeat;
}
div#loggmailbtn:hover {
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/buttons/btn_submit.gif)
    left -30px;
  background-repeat: no-repeat;
}
div#backbtn {
  width: 85px;
  height: 30px;
  cursor: pointer;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/buttons/btn_back.gif)
    left top;
  background-repeat: no-repeat;
}
div#backbtn:hover {
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/buttons/btn_back.gif)
    left -30px;
  background-repeat: no-repeat;
}
.overlaytitle {
  color: #fff;
  font-size: 18px;
  padding: 3px 0 0 7px;
}
.overlaybody {
  font-size: 15px;
  background: #fff;
  padding: 25px 20px;
  height: auto;
}
.overlaybody_preview {
  font-size: 15px;
  background: #fff;
  padding: 25px 20px;
  height: auto;
}
.overlaybtn {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
}
.overlayclose {
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
}
#listing_counter {
  color: orange;
  float: left;
  font-weight: bold;
  margin-left: 4px;
  width: 139px;
}
div#overlayWaiting {
  left: 130px;
  width: 300px;
  background: transparent
    url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/overlay_title01_bg.gif)
    repeat-x scroll left top;
}
div#overlayWaitingTitle {
  color: #fff;
  font-size: 18px;
  padding: 3px 0 0 7px;
}
div#overlayHTMLBox {
  left: 17px;
  width: 480px;
  background: #888;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px;
}
div#overlayHTMLInnerBox {
  width: 460px;
  height: 270px;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px;
}
div#overlayHTMLBoxTitle {
  color: #333;
  float: left;
  font-size: 18px;
  padding: 3px 0 0 7px;
}
div#overlayAlertBox {
  left: 100px;
  width: 350px;
  background: transparent
    url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/overlay_title01_bg.gif)
    repeat-x scroll left top;
}
div#overlayAlertBoxTitle {
  color: #fff;
  float: left;
  font-size: 18px;
  padding: 3px 0 0 7px;
}
div#overlayAlertBoxBtn {
  padding-top: 20px;
  text-align: center;
  width: 320px;
}
div#overlayConfirmBox {
  left: 100px;
  width: 350px;
  background: transparent
    url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/overlay_title01_bg.gif)
    repeat-x scroll left top;
}
div#overlayConfirmBoxTitle {
  color: #fff;
  float: left;
  font-size: 18px;
  padding: 3px 0 0 7px;
}
div#overlayConfirmBoxBtn {
  padding-top: 20px;
  text-align: center;
  width: 320px;
}
div#overlayInputBox {
  left: 100px;
  width: 350px;
  background: transparent
    url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/overlay_title01_bg.gif)
    repeat-x scroll left top;
}
div#overlayInputBoxTitle {
  color: #fff;
  float: left;
  font-size: 18px;
  padding: 3px 0 0 7px;
}
div#overlayInputBoxBtn {
  padding-top: 20px;
  text-align: center;
  width: 320px;
}
div#inputBoxMessage {
  text-align: center;
}
input#inputTextBox {
  width: 290px;
}
div#overlayProgressBox {
  left: 100px;
  width: 350px;
  background: transparent
    url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/overlay_title01_bg.gif)
    repeat-x scroll left top;
}
div#overlayProgressBoxTitle {
  color: #fff;
  float: left;
  font-size: 18px;
  padding: 3px 0 0 7px;
}
div#overlayProgressBoxBtn {
  padding-top: 20px;
  text-align: center;
  width: 320px;
}
div#overlaySSPreviewBox {
  left: -8px;
  width: 578px;
  background: transparent
    url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/v2/overlay_title01_bg.gif)
    repeat-x scroll left top;
}
div.ss-home-preview-btn {
  width: 548px;
  height: 60px;
  position: relative;
}
div.ss-home-usethisbtn a:link,
div.ss-home-usethisbtn a:visited {
  position: absolute;
  left: 157px;
  top: 8px;
  width: 235px;
  height: 50px;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/slideshow/buttons/btn_use_this_template.gif)
    left top no-repeat;
}
div.ss-home-usethisbtn a:hover,
div.ss-home-usethisbtn a:active {
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/slideshow/buttons/btn_use_this_template.gif)
    left -50px no-repeat;
}
div.ss-home-signupbtn a:link,
div.ss-home-signupbtn a:visited {
  position: absolute;
  left: 157px;
  top: 8px;
  width: 235px;
  height: 50px;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/slideshow/buttons/btn_signup_to-create.gif)
    left top no-repeat;
}
div.ss-home-signupbtn a:hover,
div.ss-home-signupbtn a:active {
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/slideshow/buttons/btn_signup_to-create.gif)
    left -50px no-repeat;
}
div#overlaySSPreviewBoxTitle {
  color: #fff;
  float: left;
  font-size: 18px;
  padding: 3px 0 0 7px;
}
div#overlaySSPreviewBoxBtn {
  padding-top: 20px;
  text-align: center;
  width: 320px;
}
div#overlayPreviewBoxTitle {
  color: #fff;
  float: left;
  font-size: 18px;
  padding: 3px 0 0 7px;
}
div#overlayPreviewBox {
  left: -8px;
  width: 578px;
  background: #aaa;
}
div.emsg-editbtn {
  left: 0;
  position: absolute;
  top: 393px;
  width: 578px;
  height: 55px;
  margin-top: 7px;
}
div.autosave_title {
  color: #ff7800;
  font-size: 18px;
  text-align: center;
  padding: 8px 0 20px;
}
div.autosave_question {
  font-size: 12px;
  padding-bottom: 15px;
  text-align: center;
}
div.autosave_load_autosave {
  display: inline-block;
  width: 220px;
  position: relative;
  text-align: center;
  font-size: 14px;
}
div.autosave_load_autosave a:visited,
div.autosave_load_autosave a:link {
  width: 154px;
  height: 29px;
  display: block;
  position: absolute;
  left: 32px;
  color: #000;
  line-height: 29px;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/autosave/btn_cta_overlay.gif)
    no-repeat 0 0;
}
div.autosave_load_autosave a:hover,
div.autosave_load_autosave a:active {
  background-position: 0 -29px;
  text-decoration: none;
}
div.autosave_panel {
  height: 80px;
  text-align: center;
}
div.autosave_load {
  display: inline-block;
  width: 220px;
  position: relative;
  text-align: center;
  font-size: 14px;
}
div.autosave_load a:visited,
div.autosave_load a:link {
  width: 154px;
  height: 29px;
  display: block;
  position: absolute;
  left: 32px;
  color: #000;
  line-height: 29px;
  background: url(/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/autosave/btn_cta_orange_overlay.gif)
    no-repeat 0 0;
}
div.autosave_load a:hover,
div.autosave_load a:active {
  background-position: 0 -29px;
  text-decoration: none;
}
div.autosave_close a {
  color: #333;
  text-decoration: underline;
}
div.autosave_close {
  text-align: right;
}
div.autosave_time {
  padding-top: 45px;
  display: block;
  font-size: 12px;
  color: #888;
  line-height: 14px;
}
.autosave-content {
  text-align: center;
}
.autosave-title {
  color: #ff7800;
  font-size: 18px;
  padding: 8px 0 20px;
}
.autosave-question {
  padding-bottom: 20px;
}
.autosave-load {
  display: inline-block;
  width: 220px;
}
.autosave-time {
  padding-top: 20px;
  line-height: 1;
}
.button_container {
  height: 33px;
  margin: 0 auto;
  padding: 70px 0 60px;
}
.pink_button {
  background: #c7205b;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e62e6f',endColorstr='#c7205b');
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e62e6f),
    to(#c7205b)
  );
  background: -moz-linear-gradient(top, #e62e6f, #c7205b);
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 2px #666;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 16px;
  font-style: italic;
  padding: 5px 15px;
  text-decoration: none;
}
.grey_button {
  background: #525252;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a7a7a',endColorstr='#525252');
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#7a7a7a),
    to(#525252)
  );
  background: -moz-linear-gradient(top, #7a7a7a, #525252);
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 2px 2px #666;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 16px;
  font-style: italic;
  padding: 5px 15px;
  text-decoration: none;
  margin-left: 15px;
}
.publish_box_wrapper {
  width: 500px;
  margin: 0 auto;
  font-size: 16px;
  border: 1px solid #ccc;
  border-bottom: 0;
}
.publish_box {
  background-color: #fff;
  text-align: center;
  color: #000;
  height: 45px;
}
.publish_box.grey {
  background-color: #ccc;
  text-align: center;
  color: #888;
  height: 45px;
}
.publish_box td {
  border-bottom: solid 1px #ccc;
}
.blue_subtitles {
  font-size: 12px;
  color: #1d67a1;
}
.blue_subtitles a {
  color: #1d67a1;
  text-decoration: underline;
}
.publish_radio_wrapper {
  position: relative;
}
.publish_radio_wrapper input {
  left: 22px;
  margin: 0;
  position: absolute;
  top: 3px;
  z-index: 0;
}
.publish_radio_wrapper label {
  background: url("/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/overlay/img_radio_button.png")
    no-repeat scroll 0 0 transparent;
  cursor: pointer;
  padding: 0 0 0 19px;
  margin: 10px;
  position: relative;
  z-index: 1;
}
.publish_radio_wrapper label.selected {
  background: url("/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/overlay/img_radio_button_selected.png")
    no-repeat scroll 0 0 transparent;
}
.hd_button {
  background: url("/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/overlay/img_HD.jpg")
    no-repeat;
  height: 25px;
  left: 425px;
}
.hd_button.off {
  background: url("/web/20140715044747im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/overlay/img_HD_disabled.jpg")
    no-repeat;
}
.youtube_export a:hover {
  text-decoration: underline;
  color: #fff;
}
.lightbox p {
  text-align: center;
}