html,
body,
.page-container {
  height: 100%;
  margin: 0;
  padding: 0;
}
.site-header {
  position: absolute;
  top: 0;
  left: 0;
}
.hero {
  background: #2e2e2e
    url(/goapi/getStaticAsset/?type=img&subdir=signup&file=img_sky.png)
    repeat-x 0 40px;
  overflow: hidden;
  position: relative;
  height: 100%;
  min-height: 700px;
}
.landscape {
  display: block;
  margin: 0 0 0 -270px;
  width: 1500px;
  max-width: none;
}
.floating-form {
  position: relative;
  top: 90px;
  width: 320px;
  margin: 0 auto;
  padding: 30px 40px 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  z-index: 3;
}
.floating-form h1 {
  margin: 0 0 20px;
  color: #eee;
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.floating-form form {
  margin: 0;
  padding: 0;
  text-align: center;
}
.floating-form-footer {
  border-top: 1px solid #cacad4;
  padding: 20px 40px 0 40px;
  margin: 20px -40px 0 -40px;
}
.form-row {
  margin-bottom: 20px;
}
.form-row:last-child {
  margin-bottom: 0;
}
.form-input {
  background-color: #2e2e2e;
  border: 1px solid #3e3e3e;
  border-radius: 1px;
  text-align: left;
  padding: 6px 15px;
}
.form-input input[type="text"],
.form-input input[type="password"],
.form-input input[type="email"] {
  margin: 0;
  border: 0;
  box-shadow: none;
  color: #333;
  font-size: 16px;
  width: 240px;
}
.form-input input[type="text"]:focus,
.form-input input[type="password"]:focus,
.form-input input[type="email"]:focus {
  box-shadow: none;
}
.form-input-static {
  display: inline-block;
  color: #333;
  font-size: 16px;
  padding: 4px 6px;
  height: 20px;
  width: 240px;
}
.form-error-message {
  color: #f00;
  font-weight: 600;
  margin-bottom: 10px;
}
.fi {
  background: transparent
    url(/goapi/getStaticAsset/?type=img&subdir=signup&file=icon_signup.png)
    no-repeat 0 0;
  display: inline-block;
  height: 0;
  padding-top: 22px;
  overflow: hidden;
  width: 22px;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
.fi.email {
  background-position: 0 -22px;
}
.fi.username {
  background-position: -22px -22px;
}
.fi.password {
  background-position: -44px -22px;
}
.fi.confirm-password {
  background-position: -66px -22px;
}
.on .fi.email {
  background-position: 0 0;
}
.on .fi.username {
  background-position: -22px 0;
}
.on .fi.password {
  background-position: -44px 0;
}
.on .fi.confirm-password {
  background-position: -66px 0;
}
.social-login {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social-login > li {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
}
.si {
  display: inline-block;
  height: 22px;
  width: 22px;
  vertical-align: middle;
}
.si.fb {
  background: transparent
    url(/static/go/img/signup/ico_login_fb.png)
    no-repeat 0 0;
}
.si.google {
  background: transparent
    url(/static/go/img/signup/ico_login_google.png)
    no-repeat 0 0;
}
@media (max-width: 767px) {
  .floating-form {
    width: 250px;
    padding: 20px 25px;
  }
  .floating-form-footer {
    margin: 20px -20px 0;
  }
  .form-input input[type="text"],
  .form-input input[type="password"],
  .form-input input[type="email"] {
    width: 170px;
  }
  .social-login > li {
    float: none;
    width: auto;
  }
  .social-login > li + li {
    margin-top: 10px;
  }
}
