.main-container {
  margin-top: 30px;
  margin-bottom: 30px;
}
body:after {
  content: url(/goapi/getStaticAsset/?file=icon_goanimate_orange.png&type=img&subdir=icons);
  display: none;
}
.site-header {
  position: relative;
  min-height: 40px;
  width: 100%;
  min-width: 960px;
  z-index: 20;
  background-color: #1e1e1e;
  -moz-box-shadow: 0 1px 3px #000;
  -webkit-box-shadow: 0 1px 3px #000;
  box-shadow: 0 1px 3px #000;
}
.site-header > .site-header-inside {
  position: relative;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.site-logo {
  float: left;
  margin-top: 3px;
  line-height: 45px;
  margin-right: 30px;
  width: 175px;
}
.top-nav-toggle {
  display: none;
  position: relative;
  float: right;
  margin-right: 10px;
  padding: 7px 10px;
  margin-top: 5px;
  background-color: #040404;
  border: 1px solid #666;
  border-radius: 4px;
}
.top-nav-toggle .icon-bar {
  background-color: #888;
  display: block;
  width: 18px;
  height: 2px;
  border-radius: 1px;
}
.top-nav-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.top-nav {
  float: right;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .top-nav.collapse {
    height: auto;
    overflow: visible;
  }
}
.top-nav > li {
  float: left;
  border-left: 1px solid #333;
}
.top-nav > li:first-child {
  border-left: none;
}
.top-nav > li > a {
  color: #ddd;
  display: block;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
}
.top-nav > li > a.bright {
  color: #fff;
}
.top-nav > li > a:hover,
.top-nav > li.open > a {
  color: #bbb;
  text-shadow: 1px 1px 2px #000;
}
.top-nav .dropdown .caret {
  border-top-color: #ddd;
  border-bottom-color: #ddd;
}
.top-nav > li > a:hover .caret,
.top-nav .open .caret {
  border-top-color: #bbb;
  border-bottom-color: #bbb;
  text-shadow: 1px 1px 2px #000;
}
.top-nav > li > .dropdown-menu:before {
  content: "";
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
.top-nav > li > .dropdown-menu:after {
  content: "";
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #eee;
  position: absolute;
  top: -6px;
  left: 10px;
}
.top-nav > .top-nav-vm-btn {
  padding: 5px 0 5px 5px;
  border-left: none;
}
.site-header-notications {
  margin-top: 8px;
  float: left;
}
.site-header-notication {
  display: inline-block;
  height: 18px;
  width: 22px;
  margin: 6px 12px 0 0;
  position: relative;
  *display: inline;
  *zoom: 1;
}
.site-header-notication.on {
  background-position: 0 -22px;
}
.site-header-notication:hover {
  background-position: 0 -63px;
}
.site-header-notication span {
  background-color: #b92025;
  color: #fff;
  display: none;
  position: absolute;
  top: -6px;
  left: 15px;
  padding: 0 2px;
  z-index: 1;
}
.site-header-notication.on span {
  display: block;
}
.notication-message {
  background: transparent
    url(/goapi/getStaticAsset/?file=ico_msg.png&subdir=header&type=img)
    no-repeat 0 -43px;
}
.top-nav-login-goog,
.top-nav-login-fb {
  display: inline-block;
  height: 16px;
  width: 18px;
  margin-top: 2px;
  *display: inline;
  *zoom: 1;
}
.i-top-nav-gobucks {
  display: inline-block;
  height: 18px;
  width: 18px;
  background: transparent
    url(/static/go/img/header/ico_point2.png)
    no-repeat 0 -18px;
  margin-right: 2px;
  *display: inline;
  *zoom: 1;
}
.dropdown-menu li > a.logout-link {
  color: #5526d7;
}
.site-footer {
  background-color: #1e1e1e;
  padding: 50px 0;
  font-size: 11px;
  min-width: 960px;
}
.site-footer > .site-footer-inside {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.site-footer a {
  color: #fff;
  font-weight: normal;
}
.site-footer a:hover {
  color: #42cadf;
}
.site-footer hr {
  height: auto;
  width: 100%;
  padding: 0;
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #333;
}
.site-footer-nav {
  width: 978px;
  margin-left: -18px;
}
.site-footer-nav .col {
  float: left;
  text-align: left;
  width: 225px;
  padding: 0 0 0 18px;
  border-left: 1px solid #333;
  border-right: 1px solid #000;
}
.site-footer-nav h5 {
  color: #666;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 15px 0;
  padding: 0;
}
.site-footer-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-footer-nav li {
  margin: 0 0 8px 0;
  padding: 0;
}
.site-languages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.site-languages > li {
  display: inline-block;
  margin-left: 15px;
  *display: inline;
  *zoom: 1;
}
.site-languages .active {
  font-weight: bold;
}
.site-footer-socials-container {
  float: left;
}
.site-footer-socials {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
}
.site-footer-socials li {
  float: left;
  margin-left: 10px;
}
.site-footer-socials li a {
  background: transparent
    url(/static/go/img/modern_video/socialicons.png)
    no-repeat 0 0;
  display: block;
  width: 28px;
  height: 0;
  padding-top: 28px;
  overflow: hidden;
  opacity: 0.75;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}
.site-footer-socials li a:hover {
  opacity: 1;
}
.site-footer-socials .facebook {
  background-position: 0 0;
}
.site-footer-socials .twitter {
  background-position: -38px 0;
}
.site-footer-socials .linkedin {
  background-position: -76px 0;
}
.site-footer-socials .gplus {
  background-position: -114px 0;
}
.site-footer-socials .youtube {
  background-position: -152px 0;
}
.site-footer-copyright {
  float: right;
  margin-top: -10px;
}
.share-btn {
  background: transparent
    url(/static/go/img/icons/icon_socialmedia.png)
    no-repeat 0 0;
  display: inline-block;
  height: 36px;
  width: 36px;
  margin-right: 6px;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
}
.share-btn:hover {
  box-shadow: 0 0 5px #333;
}
.share-btn.disabled:hover {
  box-shadow: none;
}
.share-btn.hubspot {
  background-position: 0 0;
}
.share-btn.gplus {
  background-position: -36px 0;
}
.share-btn.facebook {
  background-position: -72px 0;
}
.share-btn.pinterest {
  background-position: -108px 0;
}
.share-btn.linkedin {
  background-position: -144px 0;
}
.share-btn.reddit {
  background-position: -180px 0;
}
.share-btn.twitter {
  background-position: -216px 0;
}
.share-btn.su {
  background-position: -252px 0;
}
.share-btn.tumblr {
  background-position: -288px 0;
}
.share-btn.email {
  background-position: -324px 0;
}
.share-btn.download {
  background-position: -360px 0;
}
.share-btn.youtube {
  background-position: -396px 0;
}
.share-btn.rss {
  background-position: -432px 0;
}
.share-btn.lectora {
  background-position: -468px 0;
}
.share-btn.viewbix {
  background-position: -504px 0;
}
.share-btn.wistia {
  background-position: -540px 0;
}
.share-btn.wevideo {
  background-position: -576px 0;
}
.share-btn.download.disabled {
  background-position: -360px -36px;
}
.share-btn.youtube.disabled {
  background-position: -396px -36px;
}
.share-btn.lectora.disabled {
  background-position: -468px -36px;
}
.share-btn.viewbix.disabled {
  background-position: -504px -36px;
}
.share-btn.wistia.disabled {
  background-position: -540px -36px;
}
.share-btn.wevideo.disabled {
  background-position: -576px -36px;
}
.share-btn.hubspot.disabled {
  background-position: 0 -36px;
}
.share-btn.hubspot.disabled:after,
.share-btn.viewbix.disabled:after,
.share-btn.lectora.disabled:after,
.share-btn.wistia.disabled:after,
.share-btn.wevideo.disabled:after {
  background: transparent
    url(/static/go/img/icons/icon_info2.png)
    no-repeat 0 0;
  height: 19px;
  width: 19px;
  content: "";
  display: block;
  margin-left: 23px;
  margin-top: -7px;
}
.lock_image {
  background: transparent
    url(/static/go/img/icons/icon_info2.png)
    no-repeat 0 0;
  height: 19px;
  width: 19px;
  display: inline-block;
  vertical-align: middle;
}
.load-more {
  padding: 10px 0;
  text-align: center;
}
.load-more a {
  display: block;
  border-radius: 3px;
}
.load-more a:hover {
  background-color: #ddd;
}
.load-more .loading {
  display: none;
  background: transparent
    url(/static/go/img/dashboard/loading.gif)
    no-repeat center center;
  height: 20px;
}
.load-more.loading .loaded {
  display: none;
}
.load-more.loading .loading {
  display: block;
}
.recaptcha-container {
  margin: 10px 0;
  text-align: left;
  display: none;
}
.growlUI {
  background: url(/static/go/img/common/feedback/tick.png)
    no-repeat 10px 10px;
}
.growlUI.error {
  background-image: url(/static/go/img/common/feedback/cross.png);
}
.growlUI h1,
.growlUI h2 {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  padding: 5px 5px 5px 75px;
  margin: 0;
  text-align: left;
}
.growlUI h1 {
  font-size: 20px;
  line-height: 30px;
}
#signup,
#login {
  text-align: center;
  width: 430px;
}
#signup h2,
#login h2 {
  color: #121212;
  font-size: 18px;
  line-height: 25px;
  margin: 10px 0;
  padding: 0;
}
#signup_form,
#login_form {
  margin: 0 auto;
  width: 300px;
}
#signup_form label,
#login_form label {
  display: block;
  padding-left: 22px;
  text-align: left;
  line-height: normal;
}
#signup_form_message,
#login_form_message {
  color: #f00;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  height: 16px;
  text-align: center;
  margin-left: -40px;
  margin-right: -40px;
}
#signup_email,
#signup_username,
#signup_password1,
#signup_password2,
#login_form input {
  background-color: #f2f2f2;
  border: 1px solid #aaa;
  display: block;
  font-size: 14px;
  margin: 0 auto 10px;
  padding: 6px 8px;
  width: 240px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#signup_email.error,
#signup_username.error,
#signup_password1.error,
#signup_password2.error,
#login_form input.error {
  border-color: #f00;
}
#signup_form input#recaptcha_response_field,
#login_form input#recaptcha_response_field {
  display: inline-block;
}
#login_form #login_captcha_container,
#signup_form #signup_captcha_container {
  margin-left: -9px;
  margin-bottom: 5px;
}
#forgotpassword {
  text-align: right;
  padding: 10px 0;
}
.login_options {
  border-top: 1px solid #aaa;
  font-size: 12px;
  padding: 20px 0;
}
.login_option {
  font-size: 14px;
  float: left;
  width: 140px;
  padding: 0 0 0 20px;
  margin: 0 0 0 30px;
  text-align: left;
}
.login_option.google {
  background: transparent
    url(/static/go/img/header/ico_login_google.gif)
    no-repeat center left;
}
.login_option.facebook {
  background: transparent
    url(/static/go/img/header/ico_login_fb.gif)
    no-repeat center left;
}