.studioMinimized {
  width: 1px;
  height: 1px;
}
div.container {
  margin: 0 auto;
}
div.content {
  width: 960px;
  margin: 0;
}
body.preview_player {
  background: #262d3f;
}
#studio_container {
  position: absolute;
  top: 80px;
  left: 0;
  width: 960px;
  height: 630px;
  overflow: hidden;
  z-index: 2;
}
#studio_holder {
  height: 100%;
  width: 100%;
  text-align: center;
}
#studio_holder.offset {
  margin-left: 260px;
}
#previewPlayerContainer {
  padding: 60px 0;
  width: 960px;
  margin: 0 auto;
  z-index: 2;
}
.preview-player {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 60px #000;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 640px;
}
.preview-player h2 {
  color: #505e73;
  font-size: 21px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  padding: 15px 35px;
  margin: 0;
}
.preview-player .buttons {
  padding: 14px 0;
}
.preview-player a.close_btn {
  color: #1fbba6;
  line-height: 24px;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}
.preview-player a.close_btn:hover {
  color: #029a85;
  text-decoration: none;
}
.preview-button,
.tutorial-button {
  background-color: #1fbba6;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0 25px;
  margin: 0 7px;
}
.preview-button:hover {
  background-color: #029a85;
}
.preview-button.save,
.tutorial-button {
  background-color: #f27935;
}
.preview-button.save:hover,
.tutorial-button:hover {
  background-color: #dd6522;
}
.preview-upsell {
  padding: 0 35px 15px;
  text-align: left;
}
.video-tutorial {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 60px #000;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 860px;
  margin-top: 50px;
}
.video-tutorial h2 {
  color: #505e73;
  font-size: 21px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  padding: 15px 35px;
  margin: 0;
}
.video-tutorial-body {
  padding: 0;
  position: relative;
}
.video-tutorial-player {
  height: 445px;
}
.video-tutorial-footer {
  border-top: 1px solid #ddd;
  padding: 14px 35px;
  position: relative;
}
.video-tutorial a.close_btn {
  color: #1fbba6;
  line-height: 24px;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
}
.video-tutorial a.close_btn:hover {
  color: #029a85;
  text-decoration: none;
}
body.ccbrowser div.content {
  padding-top: 20px;
  margin-top: 50px;
}
div.studiotemplatebrowser {
  width: 135px;
  background-color: #282828;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  text-align: center;
  overflow: hidden;
  border: 0;
}
div.studiotemplatebrowser .close {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  margin-right: 5px;
}
div.studiotemplatebrowser .close a {
  color: white;
}
div.studiotemplatebrowser h1 {
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  line-height: 100%;
}
div.studiotemplatebrowser h2 {
  color: #da8b1a;
  font-size: 16px;
  font-weight: bold;
}
div.studiotemplatebrowser div.thumbcontainer {
  height: 100%;
  width: 100%;
  background-color: #282828;
}
div.studiotemplatebrowser div.more {
  width: 100%;
  bottom: 0;
  position: absolute;
  text-align: right;
  left: 0;
}
div.studiotemplatebrowser div.more a {
  color: white;
  margin-right: 5px;
}
div.thumbcell {
  width: 129px;
  height: 129px;
  overflow: hidden;
  background-color: #555;
  margin: 0 3px 3px 3px;
  position: relative;
}
div.thumbcell a {
  position: absolute;
  bottom: 5px;
  left: 4px;
  color: auto;
  background-color: #da8b1b;
  z-index: 1;
}
div.thumbcell a:hover {
  background-color: #f5a534;
}
div.thumbcell .buttonlink {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: block;
}
div.thumbcell .button {
  display: block;
  text-align: center;
  border: 0;
  width: 120px;
}
div.thumbcell .button span.buynow {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
div.thumbcell .button span.bucks {
  color: #fdfa9e;
  font-size: 12px;
  font-weight: bold;
}
div.thumbcell p.gotit {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #eee;
  background-color: #93969f;
  z-index: 1;
  display: none;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 4px 0;
  width: 100%;
  left: 0;
}
#h5-playerdiv {
  display: none;
  position: relative;
  width: 640px;
  height: 360px;
  background: #000;
}
.using-h5 #h5-playerdiv {
  display: inline-block;
}
.using-h5 #playerdiv {
  display: none;
}
#h5-playerdiv .video-controls {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.8);
}
#h5-playerdiv .video-controls .playback-button {
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
}
#h5-playerdiv .video-controls .playback-button .icon-image {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
#h5-playerdiv .video-controls .playback-button .icon-image {
  background-image: url(../img/studio/control_bar/btn_pause_init.png);
}
#h5-playerdiv .video-controls .playback-button:hover .icon-image {
  background-image: url(../img/studio/control_bar/btn_pause_over.png);
}
#h5-playerdiv .video-controls .playback-button.paused .icon-image {
  background-image: url(../img/studio/control_bar/btn_play_init.png);
}
#h5-playerdiv .video-controls .playback-button:hover.paused .icon-image {
  background-image: url(../img/studio/control_bar/btn_play_over.png);
}
#h5-playerdiv .video-controls .seek-bar {
  position: relative;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  height: 15px;
  margin-top: 13px;
  margin-right: 7px;
  border-radius: 3px;
  padding-top: 4px;
  cursor: pointer;
}
#h5-playerdiv .video-controls .seek-bar .value-bar {
  position: absolute;
  height: 6px;
  border-radius: 3px;
}
#h5-playerdiv .video-controls .seek-bar .total-bar {
  width: 100%;
  background: #000;
}
#h5-playerdiv .video-controls .seek-bar .played-bar {
  background: #1da1b3;
}
#h5-playerdiv .video-controls .seek-bar .buffered-bar {
  background: #ccc;
}
#h5-playerdiv .video-controls .seek-bar .slider-thumb {
  position: absolute;
  height: 15px;
  width: 15px;
  margin-top: -5px;
  margin-left: -7.5px;
  border-radius: 50%;
  background: white;
}
#h5-playerdiv .video-controls .seek-bar .time-tooltip {
  display: none;
  position: absolute;
  top: -46px;
  margin-left: -20px;
  width: 40px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 10px;
  border-radius: 3px;
}
#h5-playerdiv .video-controls .seek-bar .time-tooltip::after {
  position: absolute;
  bottom: -8px;
  left: 12px;
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
#h5-playerdiv .video-controls .seek-bar:hover .time-tooltip {
  display: inline;
}
#h5-playerdiv .video-controls .time-display {
  margin-left: 10px;
  margin-right: 5px;
}
#h5-playerdiv .video-controls .time-display .text {
  width: 110px;
  margin-top: 9px;
  text-align: center;
  color: white;
  background: black;
  font-size: 14px;
  line-height: 14px;
  padding: 3px;
  border-radius: 3px;
}
#h5-playerdiv .video-controls .volume-control {
  width: 110px;
}
#h5-playerdiv .video-controls .volume-control img {
  float: left;
  margin-top: 7px;
}
#h5-playerdiv .video-controls .volume-control .volume-icon {
  cursor: pointer;
  float: left;
}
#h5-playerdiv .video-controls .volume-control .volume-icon .icon-image {
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}
#h5-playerdiv .video-controls .volume-control .volume-icon .icon-image {
  background-image: url(../img/studio/control_bar/btn_volume_init.png);
}
#h5-playerdiv .video-controls .volume-control .volume-icon:hover .icon-image {
  background-image: url(../img/studio/control_bar/btn_volume_over.png);
}
#h5-playerdiv .video-controls .volume-control.muted .volume-icon .icon-image {
  background-image: url(../img/studio/control_bar/btn_mute_init.png);
}
#h5-playerdiv
  .video-controls
  .volume-control.muted
  .volume-icon:hover
  .icon-image {
  background-image: url(../img/studio/control_bar/btn_mute_over.png);
}
#h5-playerdiv .video-controls .volume-control .volume-slider {
  position: relative;
  float: left;
  width: 50px;
  height: 15px;
  margin-top: 12px;
  margin-left: 0;
  cursor: pointer;
}
#h5-playerdiv .video-controls .volume-control .volume-slider .slider-track {
  position: absolute;
  width: 100%;
  height: 6px;
  background: #000;
  top: 5px;
  border-radius: 3px;
}
#h5-playerdiv
  .video-controls
  .volume-control
  .volume-slider
  .slider-track
  .track-value-bar {
  position: absolute;
  height: 100%;
  background: #1da1b3;
  border-radius: 3px;
  width: 50px;
}
#h5-playerdiv .video-controls .volume-control .volume-slider .slider-thumb {
  position: absolute;
  height: 15px;
  width: 15px;
  margin-left: -7.5px;
  border-radius: 50%;
  background: white;
  left: 50px;
}
#h5-playerdiv .player-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#h5-playerdiv .player-overlay .loading-icon {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent url(../img/studio/spin.svg) no-repeat center center;
}
#h5-playerdiv .player-overlay .replay-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background: transparent url(../img/studio/replay_init.png) no-repeat center
    center;
  cursor: pointer;
}
#h5-playerdiv .player-overlay .replay-button:hover {
  background-image: url(../img/studio/replay_over.png);
}
#h5-playerdiv .player-overlay.loading {
  opacity: 1;
}
#h5-playerdiv .player-overlay.loading .loading-icon {
  display: block;
}
#h5-playerdiv .player-overlay .loading-message {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  margin-bottom: 30px;
  text-align: center;
  color: #eee;
}
#h5-playerdiv .player-overlay.ended {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
#h5-playerdiv .player-overlay.ended .replay-button {
  display: block;
}
