body,
input,
button,
select,
textarea {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
body {
  background-color: #2e2e2e;
}
hr {
  border-top-color: #ccc;
  border-bottom-color: #eee;
}
h1 {
  font-size: 48px;
  line-height: 50px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: auto;
}
a {
  color: #666;
  cursor: pointer;
  font-weight: 600;
}
a:hover,
a:focus {
  color: #bbb;
  text-decoration: none;
  text-shadow: 1px 1px 2px #000;
}
a.thin {
  font-weight: normal;
}
a.important,
.alert a {
  color: #136c79;
}
a.important:hover,
a.important:focus,
.alert a:hover,
.alert a:focus {
  color: #1b97aa;
}
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 15px;
  margin-bottom: 0;
  border: 1px solid #555;
  *border: 0;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background-color: #7a7a7a;
  background-image: -moz-linear-gradient(top, #888, #6c6c6c);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#888),
    to(#6c6c6c)
  );
  background-image: -webkit-linear-gradient(top, #888, #6c6c6c);
  background-image: -o-linear-gradient(top, #888, #6c6c6c);
  background-image: linear-gradient(to bottom, #888, #6c6c6c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88888',endColorstr='#6c6c6c',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
.btn:hover {
  background-color: #969696;
  background-image: -moz-linear-gradient(top, #a4a4a4, #888);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#a4a4a4),
    to(#888)
  );
  background-image: -webkit-linear-gradient(top, #a4a4a4, #888);
  background-image: -o-linear-gradient(top, #a4a4a4, #888);
  background-image: linear-gradient(to bottom, #a4a4a4, #888);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4a4a4',endColorstr='#888888',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
.btn-banner {
  padding: 8px 35px;
  font-size: 22px;
}
.btn-xlarge {
  padding: 14px 35px;
  font-size: 20px;
}
.btn-large {
  padding: 9px 30px;
  font-size: 16px;
}
.btn-red {
  border-color: #7d2918;
  background-color: #b82a1f;
  background-image: -moz-linear-gradient(top, #ca322a, #a62213);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#ca322a),
    to(#a62213)
  );
  background-image: -webkit-linear-gradient(top, #ca322a, #a62213);
  background-image: -o-linear-gradient(top, #ca322a, #a62213);
  background-image: linear-gradient(to bottom, #ca322a, #a62213);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ca322a',endColorstr='#a62213',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-red:hover {
  border-color: #7d2918;
  background-color: #d34338;
  background-image: -moz-linear-gradient(top, #db5445, #ca322a);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#db5445),
    to(#ca322a)
  );
  background-image: -webkit-linear-gradient(top, #db5445, #ca322a);
  background-image: -o-linear-gradient(top, #db5445, #ca322a);
  background-image: linear-gradient(to bottom, #db5445, #ca322a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db5445',endColorstr='#ca322a',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-pink {
  border-color: #80111b;
  background-color: #c72332;
  background-image: -moz-linear-gradient(top, #da2c3c, #b31928);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#da2c3c),
    to(#b31928)
  );
  background-image: -webkit-linear-gradient(top, #da2c3c, #b31928);
  background-image: -o-linear-gradient(top, #da2c3c, #b31928);
  background-image: linear-gradient(to bottom, #da2c3c, #b31928);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#da2c3c',endColorstr='#b31928',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-pink:hover {
  border-color: #7d2918;
  background-color: #dd404e;
  background-image: -moz-linear-gradient(top, #df5360, #da2c3c);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#df5360),
    to(#da2c3c)
  );
  background-image: -webkit-linear-gradient(top, #df5360, #da2c3c);
  background-image: -o-linear-gradient(top, #df5360, #da2c3c);
  background-image: linear-gradient(to bottom, #df5360, #da2c3c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db5445',endColorstr='#da2c3c',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-orange {
  border-color: #000;
  background-color: #4015dc;
  background-image: -moz-linear-gradient(top, #5627d8, #3f1ba1);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#5627d8),
    to(#3f1ba1)
  );
  background-image: -webkit-linear-gradient(top, #5627d8, #3f1ba1);
  background-image: -o-linear-gradient(top, #5627d8, #3f1ba1);
  background-image: linear-gradient(to bottom, #5627d8, #3f1ba1);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5627d8',endColorstr='#3f1ba1',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
.btn-orange:hover {
  background-color: #2b38ee;
  background-image: -moz-linear-gradient(top, #2733d8, #131869);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#2733d8),
    to(#131869)
  );
  background-image: -webkit-linear-gradient(top, #2733d8, #131869);
  background-image: -o-linear-gradient(top, #2733d8, #131869);
  background-image: linear-gradient(to bottom, #2733d8, #131869);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2733d8',endColorstr='#131869',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
.btn-blue {
  border-color: #05476d;
  background-color: #0e567f;
  background-image: -moz-linear-gradient(top, #126595, #094669);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#126595),
    to(#094669)
  );
  background-image: -webkit-linear-gradient(top, #126595, #094669);
  background-image: -o-linear-gradient(top, #126595, #094669);
  background-image: linear-gradient(to bottom, #126595, #094669);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#126595',endColorstr='#094669',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-blue:hover {
  border-color: #05476d;
  background-color: #1b72a4;
  background-image: -moz-linear-gradient(top, #247eb2, #126595);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#247eb2),
    to(#126595)
  );
  background-image: -webkit-linear-gradient(top, #247eb2, #126595);
  background-image: -o-linear-gradient(top, #247eb2, #126595);
  background-image: linear-gradient(to bottom, #247eb2, #126595);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#247eb2',endColorstr='#126595',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-aqua {
  border-color: #3d5d62;
  background-color: #1a8d9f;
  background-image: -moz-linear-gradient(top, #1ba2b6, #197887);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#1ba2b6),
    to(#197887)
  );
  background-image: -webkit-linear-gradient(top, #1ba2b6, #197887);
  background-image: -o-linear-gradient(top, #1ba2b6, #197887);
  background-image: linear-gradient(to bottom, #1ba2b6, #197887);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ba2b6',endColorstr='#197887',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-aqua:hover {
  border-color: #3d5d62;
  background-color: #36b3c5;
  background-image: -moz-linear-gradient(top, #51c3d4, #1ba2b6);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#51c3d4),
    to(#1ba2b6)
  );
  background-image: -webkit-linear-gradient(top, #51c3d4, #1ba2b6);
  background-image: -o-linear-gradient(top, #51c3d4, #1ba2b6);
  background-image: linear-gradient(to bottom, #51c3d4, #1ba2b6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#51c3d4',endColorstr='#1ba2b6',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-dark {
  border-color: #171717;
  background-color: #2f2f2f;
  background-image: -moz-linear-gradient(top, #3c3c3c, #222);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#3c3c3c),
    to(#222)
  );
  background-image: -webkit-linear-gradient(top, #3c3c3c, #222);
  background-image: -o-linear-gradient(top, #3c3c3c, #222);
  background-image: linear-gradient(to bottom, #3c3c3c, #222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c3c3c',endColorstr='#222222',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-dark:hover {
  border-color: #171717;
  background-color: #454545;
  background-image: -moz-linear-gradient(top, #4e4e4e, #3c3c3c);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#4e4e4e),
    to(#3c3c3c)
  );
  background-image: -webkit-linear-gradient(top, #4e4e4e, #3c3c3c);
  background-image: -o-linear-gradient(top, #4e4e4e, #3c3c3c);
  background-image: linear-gradient(to bottom, #4e4e4e, #3c3c3c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4e4e',endColorstr='#3c3c3c',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  color: #a8a8a8;
  border-color: #989898;
  background-color: #cbcbcb;
  background-image: -moz-linear-gradient(top, #d4d4d4, #c1c1c1);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#d4d4d4),
    to(#c1c1c1)
  );
  background-image: -webkit-linear-gradient(top, #d4d4d4, #c1c1c1);
  background-image: -o-linear-gradient(top, #d4d4d4, #c1c1c1);
  background-image: linear-gradient(to bottom, #d4d4d4, #c1c1c1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4',endColorstr='#c1c1c1',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.btn-large .caret {
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 5px;
}
.btn-xlarge .caret {
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-width: 6px;
  margin-top: 6px;
}
.btn small {
  display: block;
  color: #333;
  font-size: 12px;
  margin-top: 3px;
}
.btn-red small {
  color: #40130f;
}
.btn-pink small {
  color: #531414;
}
.btn-orange small {
  color: #eee;
  font-size: 12px;
  font-weight: 600;
}
.btn-blue small {
  color: #020e16;
}
.btn-aqua small {
  color: #18363b;
}
.btn-dark small {
  color: #5d5d5d;
}
.btn[disabled] small {
  color: #a8a8a8;
}
.btn-group > .btn {
  font-size: 14px;
}
.btn-group > .btn-large {
  font-size: 16px;
}
.btn-group > .btn-xlarge {
  font-size: 20px;
}
.btn-group > .btn-large + .dropdown-toggle {
  padding-left: 10px;
  padding-right: 10px;
}
.btn-group > .btn-xlarge + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}
.btn-group.open .btn.dropdown-toggle {
  background-color: #7a7a7a;
}
.btn-group.open .btn-red.dropdown-toggle {
  background-color: #b82a1f;
}
.btn-group.open .btn-pink.dropdown-toggle {
  background-color: #c72332;
}
.btn-group.open .btn-orange.dropdown-toggle {
  background-color: #dc8c15;
}
.btn-group.open .btn-blue.dropdown-toggle {
  background-color: #0e567f;
}
.btn-group.open .btn-aqua.dropdown-toggle {
  background-color: #1a8d9f;
}
.btn-group.open .btn-dark.dropdown-toggle {
  background-color: #171717;
}
.button {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  padding: 2px 10px;
  margin-bottom: 0;
  border: 0;
  *border: 0;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  color: #333;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}
.button-compact {
  padding: 2px;
}
.button:hover {
  color: #42cadf;
}
.button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.label {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 5px;
  color: #333;
  font-size: 10px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #333;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.label-biz {
  color: #3a7da7;
  border-color: #3a7da7;
}
.label-plus {
  color: #00afc9;
  border-color: #00afc9;
}
.label-admin {
  color: #da8f0c;
  border-color: #da8f0c;
}
.label-draft {
  background-color: #6f6f6f;
  border-color: #6f6f6f;
  color: #333;
}
.label-unlisted {
  background-color: #ba8e3f;
  border-color: #ba8e3f;
  color: #6f511c;
}
.label-private {
  background-color: #f39e09;
  border-color: #f39e09;
  color: #9e690c;
}
.label-public {
  background-color: #1091db;
  border-color: #1091db;
  color: #1f4d68;
}
.form-horizontal .form-row {
  margin-bottom: 10px;
}
.form-horizontal .form-row-label {
  float: left;
  width: 150px;
  padding-top: 4px;
  font-size: 13px;
  font-weight: bold;
}
.form-horizontal .form-row-controls,
.form-horizontal .form-row-help {
  margin-left: 160px;
}
.form-row.error .form-row-help {
  color: #8a2018;
}
.form-row.error input,
.form-row.error select,
.form-row.error textarea {
  border-color: #8a2018;
}
.modal {
  width: 666px;
  margin-left: -333px;
  min-height: 80px;
}
.modal-header h3 {
  color: #333;
  margin: 0;
  line-height: 35px;
}
.modal-header.has-back h3 {
  margin-left: 40px;
}
.modal-footer {
  text-align: center;
}
.modal-body-separator {
  margin: 20px -15px;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
.modal-back {
  float: left;
  background: transparent;
  color: #ccc;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  border: 0;
  border-right: 1px solid #ccc;
  padding: 0 10px;
  margin: 5px 0 0 -10px;
}
.modal-back:hover {
  color: #666;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  background: #000;
}
.modal .loading-mask {
  z-index: 101;
}
.nav-tabs {
  border-bottom-color: #aaa;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #666;
  background-color: #eee;
  border-color: #aaa;
  border-bottom-color: transparent;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: #eee #eee #aaa;
}
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.dropdown-menu li > a {
  font-weight: bold;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background: #bbb;
  filter: none;
  text-shadow: none;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background: #bbb;
  color: #333;
  filter: none;
}
.dropdown-menu .divider {
  background-color: #ccc;
  border-bottom: #e5e5e5;
}
.dropdown-submenu > a:after {
  border-left-color: #aaa;
}
.breadcrumb {
  background-color: transparent;
  padding: 0 5px;
}
.breadcrumb > li > .divider {
  color: #aaa;
}
.alert {
  padding: 15px 35px 15px 15px;
  text-shadow: none;
  position: relative;
}
.alert,
.alert h4 {
  color: #333;
  font-size: 14px;
}
.alert h2 {
  color: #333;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 5px 0;
}
.alert-large {
  padding: 20px 35px 20px 15px;
}
.alert-danger,
.alert-error {
  background-color: #eec4c1;
  border-color: #d16259;
  color: #333;
}
.alert-danger h2,
.alert-error h2 {
  color: #8a2018;
}
.alert-success {
  background-color: #d6e0b0;
  border-color: #adc262;
  color: #333;
}
.alert-success h2 {
  color: #687c20;
}
.alert-info {
  background-color: #b2c0d3;
  border-color: #6580a7;
  color: #333;
}
.alert-info h2 {
  color: #233d62;
}
.alert a {
  color: #315689;
}
.alert a:hover,
.alert a:focus {
  color: #6580a7;
}
.alert.alert-icon,
.alert-large.alert-icon {
  padding-left: 70px;
}
.alert-error.alert-icon:before,
.alert-success.alert-icon:before {
  content: "";
  background: transparent
    url(/web/20140715044742im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/common/img_alert_small.png)
    0 0;
  position: absolute;
  top: 10px;
  left: 20px;
  width: 30px;
  height: 30px;
}
.alert-success.alert-icon:before {
  background-position: -30px 0;
}
.alert-large.alert-error.alert-icon:before,
.alert-large.alert-success.alert-icon:before {
  content: "";
  background: transparent
    url(/web/20140715044742im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/common/img_alert_big.png)
    0 0;
  position: absolute;
  top: 20px;
  left: 15px;
  width: 40px;
  height: 40px;
}
.alert-large.alert-success.alert-icon:before {
  background-position: -40px 0;
}
.inside {
  padding-left: 10px;
  padding-right: 10px;
}
.block {
  border-bottom: 1px solid #aaa;
  margin-bottom: 30px;
}
.aside .block h2 {
  background-color: #ccc;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding: 0 10px;
  font-size: 18px;
  text-transform: uppercase;
}
.privots {
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
}
.privots li {
  border-top: 1px solid #ccc;
  margin-bottom: 10px;
  padding-top: 10px;
}
.privots li:first-child {
  border-top: 0;
  padding-top: 0;
}
.privots a {
  display: block;
  color: #666;
  font-weight: normal;
  overflow: hidden;
}
.privots a.biz {
  color: #3b7da7;
}
.privots a.school {
  color: #5a9437;
}
.privots a.fun {
  color: #d58d30;
}
.privots a .privot-go {
  float: right;
  display: block;
  line-height: 30px;
  padding: 0 6px;
  margin: 5px 0 0 10px;
  background-color: #ccc;
  color: #666;
  font-weight: bold;
}
.privots a > p {
  padding-right: 20px;
  margin: 0;
  font-size: 12px;
}
.privots a:hover .privot-go {
  background-color: #999;
}
.privots a.biz .privot-go {
  background-color: #3b7da7;
  color: #fff;
}
.privots a.biz:hover .privot-go {
  background-color: #4c9dd0;
}
.privots a.school .privot-go {
  background-color: #7fb348;
  color: #fff;
}
.privots a.school:hover .privot-go {
  background-color: #96d157;
}
.privots a.fun .privot-go {
  background-color: #d58d30;
  color: #fff;
}
.privots a.fun:hover .privot-go {
  background-color: #ee9e37;
}
.user-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.user-list-item {
  padding: 20px 0 10px;
  border-top: 1px solid #ccc;
  overflow: hidden;
}
.user-list-item:first-child {
  border-top: 0;
}
.user-list-item > div {
  float: left;
  margin-left: 10px;
  overflow: hidden;
  text-align: center;
}
.user-list-item .pic {
  margin-top: -10px;
}
.grid {
  margin: 20px 0;
}
.grid + .grid {
  margin-top: 40px;
}
.grid.loading {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.grid-header {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  z-index: 10;
  *zoom: 1;
}
.grid-header:before,
.grid-header:after {
  display: table;
  content: "";
  line-height: 0;
}
.grid-header:after {
  clear: both;
}
.grid-column {
  float: left;
  line-height: 30px;
}
.grid-row {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin: -1px 0 0 0;
  position: relative;
  *zoom: 1;
}
.grid-row:before,
.grid-row:after {
  display: table;
  content: "";
  line-height: 0;
}
.grid-row:after {
  clear: both;
}
.grid-row:hover,
.grid-row.active {
  background-color: #f5e69f;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  z-index: 11;
}
.grid-row .dimmed {
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.grid-row:hover .dimmed,
.open .dimmed {
  opacity: 1;
  filter: alpha(opacity=100);
}
.grid-row.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.grid-row.disabled:hover {
  background-color: transparent;
}
.grid-row-cell {
  float: left;
  padding-left: 10px;
}
.grid-row-cell:first-child {
  padding-left: 0;
}
.grid-footer {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #aaa;
  padding: 10px;
  margin: -1px 0 0 0;
  position: relative;
  z-index: 10;
  *zoom: 1;
}
.grid-footer:before,
.grid-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.grid-footer:after {
  clear: both;
}
.grid-empty-message {
  margin-top: 40px;
  text-align: center;
}
.grid-empty-message h3 {
  color: #ccc;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
}
.portrait {
  display: block;
  outline: 0;
  height: 100px;
  width: 100px;
}
.portrait-small {
  height: 40px;
  width: 40px;
}
.portrait-tiny {
  height: 30px;
  width: 30px;
}
.portrait-80 {
  height: 80px;
  width: 80px;
}
.portrait.framed {
  background-color: #fff;
  padding: 5px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.portrait-inline {
  display: inline-block;
}
.vthumb {
  background-color: #000;
  width: 80px;
  height: 45px;
  overflow: hidden;
  position: relative;
}
.vthumb-clip {
  position: absolute;
  top: -100px;
  bottom: -100px;
  left: -100px;
  right: -100px;
  text-align: center;
}
.vthumb-clip-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.vthumb-clip img {
  display: inline-block;
  vertical-align: middle;
}
.vthumb .vthumb-clip img {
  width: 80px;
}
.vthumb-clip .valign {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.vthumb-64 {
  width: 64px;
  height: 36px;
}
.vthumb-64 .vthumb-clip img {
  width: 64px;
}
.vthumb-300 {
  width: 300px;
  height: 169px;
}
.vthumb-300 .vthumb-clip img {
  width: 300px;
}
.go-pagination {
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 10px 0;
  margin-top: -1px;
}
.go-pagination ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.go-pagination ul > li {
  display: inline;
}
.go-pagination ul > li > a,
.go-pagination ul > li > span {
  float: left;
  line-height: 30px;
  padding: 0 10px;
}
.go-pagination-form {
  float: left;
  margin: 0;
}
.go-pagination-form input[type="text"] {
  width: 20px;
  margin: 0;
  text-align: center;
}
.go-pagination .disabled a {
  color: #666;
  cursor: default;
  font-weight: normal;
}
.empty-records {
  color: #ddd;
  font-size: 40px;
  line-height: 50px;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
}
.nav-dashboard {
  border-bottom: 1px solid #aaa;
}
.nav-folders {
  margin-bottom: 0;
}
.nav-dashboard > li {
  background: transparent
    url(/web/20140715044742im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/common/img_dot.png)
    no-repeat 10px center;
  border-top: 1px solid #aaa;
  padding: 10px 10px 10px 20px;
  position: relative;
}
.nav-dashboard.folder-access > li.nav-folders-trigger,
.nav-dashboard > li.nav-folders-container {
  background-image: none;
}
.nav-dashboard > li.nav-folders-trigger {
  padding-bottom: 5px;
}
.nav-dashboard > li.nav-folders-container {
  padding-top: 0;
  padding-bottom: 5px;
  border-top: 0;
}
.nav-dashboard > li.nav-folders-trigger .folder-caret-container {
  position: absolute;
  width: 10px;
  height: 20px;
  line-height: 20px;
  top: 10px;
  left: 8px;
  cursor: pointer;
}
.nav-dashboard > li.nav-folders-trigger .folder-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  content: "";
  position: absolute;
}
.nav-dashboard > li.nav-folders-trigger .folder-caret.show-list {
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid #666;
  top: 8px;
  left: 0;
}
.nav-dashboard > li.nav-folders-trigger .folder-caret.hide-list {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #666;
  top: 6px;
  left: 2px;
}
.nav-dashboard > li.nav-folders-trigger .add-folder-button {
  float: right;
  cursor: pointer;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.nav-dashboard > li.nav-folders-trigger .add-folder-button:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.nav-dashboard > li.nav-folders-trigger .add-folder-button .ico-folder-add {
  vertical-align: top;
}
.nav-folders > li {
  padding: 5px;
  position: relative;
}
.nav-folders > li .ico-folder {
  padding-right: 5px;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.nav-folders > li.active .ico-folder {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.nav-folders > li a:hover .ico-folder {
  opacity: 1;
  filter: alpha(opacity=100);
}
.nav-dashboard > li > a,
.nav-folders > li > a {
  display: inline;
}
.nav-dashboard > li > a {
  font-weight: bold;
}
.nav-folders > li > a {
  font-size: 12px;
  font-weight: normal;
}
.nav-dashboard > li > a:hover,
.nav-folders > li > a:hover {
  background-color: transparent;
}
.nav-dashboard > li.active > a,
.nav-folders > li.active > a,
.video-listing-breadcrumb span.active a,
.video-listing-heading span.active a {
  color: #666;
  cursor: default;
}
.video-listing-breadcrumb {
  display: none;
}
.video-listing-breadcrumb > span {
  margin-right: 5px;
}
.nav-folders .ico-gear {
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.nav-folders li.drop-region:hover .ico-gear {
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.nav-folders li.drop-region .ico-gear:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.nav-folders .drag-hover,
.nav-dashboard .drag-hover {
  z-index: -1;
  background-color: #f5e69f;
}
.stat-like,
.stat-comment,
.stat-view,
.stat-viewed,
.stat-video,
.stat-follower,
.stat-bucks {
  background: transparent
    url(/web/20140715044742im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/icons/icon_stat.png)
    no-repeat 0 0;
  display: inline-block;
  line-height: 15px;
  height: 15px;
  width: 15px;
  vertical-align: middle;
}
.stat-comment {
  background-position: -15px 0;
}
.stat-view {
  background-position: -30px 0;
}
.stat-viewed {
  background-position: -45px 0;
}
.stat-video {
  background-position: -60px 0;
}
.stat-follower {
  background-position: -75px 0;
}
.stat-bucks {
  background-position: -90px 0;
}
.ico-delete,
.ico-share,
.ico-edit,
.ico-folder-add,
.ico-gear-s,
.ico-gear,
.ico-follow,
.ico-unfollow,
.ico-message,
.ico-play,
.ico-heart,
.ico-heart-break,
.ico-transfer-rights,
.ico-restore,
.ico-watermark,
.ico-more-options,
.ico-copy,
.ico-facebook,
.ico-twitter,
.ico-folder {
  background: transparent
    url(/web/20140715044742im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/icons/icon_goanimate_black.png)
    no-repeat 0 0;
  display: inline-block;
  line-height: 20px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
.ico-gear-s {
  line-height: 16px;
  height: 16px;
  width: 16px;
}
.ico-delete {
  background-position: 0 0;
}
.ico-share {
  background-position: -20px 0;
}
.ico-edit {
  background-position: -40px 0;
}
.ico-folder-add {
  background-position: -60px 0;
}
.ico-gear-s {
  background-position: -83px -3px;
}
.ico-gear {
  background-position: -100px 0;
}
.ico-follow {
  background-position: -120px 0;
}
.ico-unfollow {
  background-position: -140px 0;
}
.ico-message {
  background-position: -160px 0;
}
.ico-play {
  background-position: -180px 0;
}
.ico-heart {
  background-position: -200px 0;
}
.ico-heart-break {
  background-position: -220px 0;
}
.ico-transfer-rights {
  background-position: -240px 0;
}
.ico-restore {
  background-position: -260px 0;
}
.ico-watermark {
  background-position: -280px 0;
}
.ico-more-options {
  background-position: -300px 0;
}
.ico-copy {
  background-position: -320px 0;
}
.ico-facebook {
  background-position: -340px 0;
}
.ico-twitter {
  background-position: -360px 0;
}
.ico-folder {
  background-position: -380px 0;
}
:hover > [class^="ico-"],
.hover > [class*=" ico-"],
.button:hover [class^="ico-"],
.button:hover [class*=" ico-"] {
  background-image: url(/web/20140715044742im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/icons/icon_goanimate_aqua.png);
}
.button [class^="ico-"],
.button [class*=" ico-"],
.dropdown-menu > li > a [class^="ico-"] {
  margin-top: -2px;
}
.i-feed-video,
.i-feed-follow,
.i-feed-comment,
.i-feed-heart,
.i-feed-community,
.i-feed-view {
  background: transparent
    url(/web/20140715044742im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/icons/ico_activities.png)
    no-repeat 0 0;
  display: inline-block;
  line-height: 25px;
  height: 25px;
  width: 25px;
  vertical-align: middle;
}
.i-feed-video {
  background-position: 0 0;
}
.i-feed-follow {
  background-position: -25px 0;
}
.i-feed-comment {
  background-position: -50px 0;
}
.i-feed-heart {
  background-position: -75px 0;
}
.i-feed-community {
  background-position: -100px 0;
}
.i-feed-view {
  background-position: -125px 0;
}
.i-info {
  background: transparent
    url(/web/20140715044742im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/icons/icon_info.png)
    no-repeat 0 0;
  display: inline-block;
  line-height: 16px;
  height: 16px;
  width: 16px;
  vertical-align: text-top;
}
.i-help {
  background: transparent
    url(/web/20140715044742im_/http://lightspeed.goanimate.com/static/526c77ced14e3f8d/go/img/icons/icon_help.png)
    no-repeat 0 0;
  display: inline-block;
  line-height: 16px;
  height: 16px;
  width: 16px;
  vertical-align: text-top;
}
.has-switch {
  min-width: 92px;
}
.compact {
  margin: 0;
}
.text-center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.btn-flat {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: 0.3em;
  font-size: 15px;
  line-height: 20px;
  color: #7b8a8b;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #7d7d7d;
  *background-color: #d0d5d9;
  background-repeat: repeat-x;
  border: 1px solid #ddd;
  *border: 0;
  border-color: #d0d5d9 #d0d5d9 #a6afb7;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #c4c4c4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 3px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 3px 2px rgba(0, 0, 0, 0.2);
}
.btn-flat:hover,
.btn-flat:focus,
.btn-flat:active,
.btn-flat.active,
.btn-flat.disabled,
.btn-flat[disabled] {
  color: #7b8a8b;
  background-color: #666;
  *background-color: #c2c9cd;
}
.btn-flat:active,
.btn-flat.active {
  background-color: #b4bcc2 \9;
}
.btn-flat:first-child {
  *margin-left: 0;
}
.btn-flat:hover,
.btn-flat:focus {
  color: #7b8a8b;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn-flat:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn-flat.active,
.btn-flat:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),
    0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),
    0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-flat.disabled,
.btn-flat[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-flat-large {
  padding: 18px 36px;
  font-size: 18.75px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.btn-flat-large [class^="icon-"],
.btn-flat-large [class*=" icon-"] {
  margin-top: 4px;
}
.btn-flat-small {
  padding: 2px 12px;
  font-size: 12.75px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-flat-small [class^="icon-"],
.btn-flat-small [class*=" icon-"] {
  margin-top: 0;
}
.btn-flat-mini [class^="icon-"],
.btn-flat-mini [class*=" icon-"] {
  margin-top: -1px;
}
.btn-flat-mini {
  padding: 1px 8px;
  font-size: 11.25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-flat-black.active,
.btn-flat-orange.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-flat-black {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #333;
  background-repeat: repeat-x;
  border-color: #3c3c3c #3c3c3c #151515;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-flat-black:hover,
.btn-flat-black:focus,
.btn-flat-black:active,
.btn-flat-black.active,
.btn-flat-black.disabled,
.btn-flat-black[disabled] {
  color: #fff;
  background-color: #222;
}
.btn-flat-black:active,
.btn-flat-black.active {
  background-color: #2f2f2f \9;
}
.btn-flat-orange {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #4015dc;
  background-image: -moz-linear-gradient(top, #5627d8, #3f1ba1);
  background-image: -webkit-gradient( linear, 0 0, 0 100%, from(#5627d8), to(#3f1ba1) );
  background-image: -webkit-linear-gradient(top, #5627d8, #3f1ba1);
  background-image: -o-linear-gradient(top, #5627d8, #3f1ba1);
  background-image: linear-gradient(to bottom, #5627d8, #3f1ba1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5627d8',endColorstr='#3f1ba1',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #f5b043 #f5b043 #e08e0b;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-flat-orange:hover,
.btn-flat-orange:focus,
.btn-flat-orange:active,
.btn-flat-orange.active,
.btn-flat-orange.disabled,
.btn-flat-orange[disabled] {
  color: #fff;
  background-color: #3f1ba1;
}
.btn-flat-orange:active,
.btn-flat-orange.active {
  background-color: #f5b043 \9;
}
button.btn-flat,
input[type="submit"].btn-flat {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn-flat::-moz-focus-inner,
input[type="submit"].btn-flat::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn-flat.btn-flat-large,
input[type="submit"].btn-flat.btn-flat-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn-flat.btn-flat-small,
input[type="submit"].btn-flat.btn-flat-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn-flat.btn-flat-mini,
input[type="submit"].btn-flat.btn-flat-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-flat .label,
.btn-flat .badge {
  position: relative;
  top: -1px;
}
.btn-flat-mini .label,
.btn-flat-mini .badge {
  top: 0;
}
.btn-flat {
  padding: 9px 20px;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  background-image: none;
  border: 0;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}
.btn-flat:hover,
.btn-flat:focus {
  color: white;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}
.btn-flat:active,
.btn-flat.active {
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-flat.disabled,
.btn-flat[disabled] {
  color: white;
}
.btn-flat-large {
  padding: 18px 36px;
}
.btn-flat-small {
  padding: 2px 12px;
}
.btn-flat-mini {
  padding: 1px 8px;
}
.btn-flat-banner {
  padding: 9px 20px;
  font-size: 22px;
  font-weight: 600;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-flat-banner:hover {
  padding: 9px 42px;
}
.btn-flat-banner.btn-notxt {
  padding: 20px;
}
.btn-flat-banner.btn-notxt:hover {
  padding: 20px 42px;
}
.btn-flat-banner small {
  display: block;
  margin-top: 2px;
}
.alert.coupon-alert {
  max-width: 960px;
  margin: 20px auto;
}