.upsell-modal .modal-footer .btn + .btn {
  margin-left: 15px;
}
.upsell-features-wrapper {
  margin: 20px auto 0;
  height: 370px;
  width: 552px;
  position: relative;
  overflow: hidden;
}
.upsell-features {
  width: 10000px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.4s ease-in;
  -moz-transition: 0.4s ease-in;
  -ms-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
}
.upsell-feature {
  float: left;
  width: 552px;
  margin: 0 48px 0 0;
}
.upsell-feature-body {
  display: table-row;
  height: 200px;
}
.upsell-feature-image {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  width: 50%;
}
.upsell-feature-image img {
  margin-right: 10px;
}
.upsell-feature-title {
  color: #222;
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
.upsell-feature-title h2 {
  color: #222;
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 10px 0;
  padding: 0;
}
.upsell-plan-comparison {
  border: 1px solid #ababab;
  border-radius: 5px;
  list-style-type: none;
  overflow: hidden;
  margin: 10px 0;
  padding: 0;
}
.upsell-plan-comparison > li {
  border-left: 1px solid #ababab;
  float: left;
  width: 89px;
  height: 130px;
  padding: 0 10px;
  text-align: center;
}
.upsell-plan-comparison > li:first-child {
  border-left: none;
}
.upsell-plan-comparison .dim {
  background-color: #ddd;
}
.upsell-plan-name {
  border-bottom: 1px solid #ababab;
  color: #666;
  text-transform: uppercase;
  padding: 10px 0 5px;
}
.upsell-plan-data {
  color: #666;
  display: table-cell;
  height: 60px;
  width: 90px;
  vertical-align: middle;
  padding: 5px 0 10px;
}
.i-upsell-cross {
  display: inline-block;
  background: transparent
    url(/web/20140925003756im_/http://lightspeed.goanimate.com/static/99f9a2ca80ef9a12/go/img/upsell/cross.png)
    no-repeat 0 0;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
.i-upsell-tick {
  display: inline-block;
  background: transparent
    url(/web/20140925003756im_/http://lightspeed.goanimate.com/static/99f9a2ca80ef9a12/go/img/upsell/tick.png)
    no-repeat 0 0;
  height: 20px;
  width: 28px;
  vertical-align: middle;
}
.i-upsell-info {
  display: inline-block;
  background: transparent
    url(/web/20140925003756im_/http://lightspeed.goanimate.com/static/99f9a2ca80ef9a12/go/img/upsell/info.png)
    no-repeat 0 0;
  height: 16px;
  width: 15px;
  vertical-align: middle;
  margin-left: 5px;
}
.upsell-arrow {
  background: transparent
    url(/web/20140925003756im_/http://lightspeed.goanimate.com/static/99f9a2ca80ef9a12/go/img/videomaker/themeassetprovider/commoncraft/arrow_left_testimonial.png)
    no-repeat 0 0;
  display: block;
  height: 34px;
  width: 11px;
  position: absolute;
  top: 180px;
  left: 30px;
}
.upsell-arrow.right {
  background-image: url(/web/20140925003756im_/http://lightspeed.goanimate.com/static/99f9a2ca80ef9a12/go/img/videomaker/themeassetprovider/commoncraft/arrow_right_testimonial.png);
  left: auto;
  right: 30px;
}
.upsell-index {
  list-style-type: none;
  text-align: center;
  margin: 20px auto 30px;
  padding: 0;
}
.upsell-index > li {
  display: inline-block;
  margin: 0 5px;
}
.upsell-index-dot {
  background: transparent
    url(/web/20140925003756im_/http://lightspeed.goanimate.com/static/99f9a2ca80ef9a12/go/img/videomaker/themeassetprovider/commoncraft/slidebtn_testimonial.png)
    no-repeat 0 0;
  display: block;
  height: 10px;
  width: 10px;
}
.active .upsell-index-dot {
  background-position: 0 -10px;
}
.upsell-unlock {
  background: transparent
    url(/web/20140925003756im_/http://lightspeed.goanimate.com/static/99f9a2ca80ef9a12/go/img/upsell/img_lock.png)
    no-repeat 0 0;
  padding-left: 30px;
  margin-bottom: 10px;
  color: #fd801e;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}
.upsell-features-wrapper .i-upsell-plan-current {
  display: inline-block;
  background: transparent
    url(/web/20140925003756im_/http://lightspeed.goanimate.com/static/99f9a2ca80ef9a12/go/img/upsell/img_youarehere.png)
    no-repeat center center;
  height: 50px;
  width: 40px;
  vertical-align: middle;
  position: relative;
  top: -180px;
  z-index: 99;
}
.upsell-features-wrapper.free .i-upsell-plan-current {
  left: 35px;
}
.upsell-features-wrapper.goplus .i-upsell-plan-current {
  left: 145px;
}
.upsell-features-wrapper.gopublish .i-upsell-plan-current {
  left: 255px;
}
.upsell-features-wrapper.gopremium .i-upsell-plan-current {
  left: 365px;
}
.upsell-features-wrapper.goteam .i-upsell-plan-current {
  left: 475px;
}