.video-settings-form .form-row-label {
  width: 110px;
}
.video-settings-form .form-row-controls {
  margin-left: 115px;
}
.video-publish-form-container {
  padding: 30px 0;
  text-align: center;
}
.video-publish-form-message {
  font-size: 18px;
  margin-bottom: 40px;
}
.video-publish-form {
  margin: 20px 0;
}
.video-publish-form label {
  font-weight: 500;
  font-size: 13px;
  margin-right: 10px;
}
#error_alert {
  background-color: #d74712;
  color: #fff;
  padding: 10px;
}
.lectora {
  color: #666;
  font-weight: 500;
}
.lectora_buttons .blue {
  color: #0cc;
  font-weight: 500;
  cursor: pointer;
}
.video-actions-locked.alert .portrait {
  display: inline-block;
}
#invite-form {
  margin-top: 10px;
}
#invite-form .tokenfield {
  margin-bottom: 10px;
}
#invite-form.watch-only .tokenfield {
  display: none;
}
#invite-form input[name="user_emails"] {
  display: none;
}
#invite-form.watch-only input[name="user_emails"] {
  display: block;
}
#video-page textarea {
  height: 120px;
}
#video-page .token-input {
  padding: 0;
}
#video-page .video-content {
  position: relative;
  background-color: #000;
  border-bottom: 1px solid #e7e7e7;
}
#video-page .thumbnail-container {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#video-page .thumbnail-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}
.player-container {
  margin: 0 auto;
}
#video-page:not(.sidebar-on) .player-container {
  width: 100%;
}
#video-page .notification {
  font-size: 14px;
  max-width: 960px;
  padding: 15px;
  padding-left: 45px;
  margin: 20px auto;
  border: 1px solid;
  border-radius: 3px;
  position: relative;
  background-color: #3675a7;
  border-color: #3a5b86;
  color: #fff;
}
#video-page .notification a {
  color: #fff;
  text-decoration: underline;
}
#video-page .notification .icon {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 20px;
}
#player-control {
  line-height: 40px;
  padding-top: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  background: -webkit-linear-gradient(
    rgba(60, 60, 60, 0),
    rgba(30, 30, 30, 0.9)
  );
  background: -o-linear-gradient(rgba(60, 60, 60, 0), rgba(30, 30, 30, 0.9));
  background: -moz-linear-gradient(rgba(60, 60, 60, 0), rgba(30, 30, 30, 0.9));
  background: linear-gradient(rgba(60, 60, 60, 0), rgba(30, 30, 30, 0.9));
}
#player-control.non-playing .seek-bar-container,
#player-control.non-playing .playback-button,
#player-control.non-playing .volume-control,
#player-control.non-playing .fullscreen-button {
  opacity: 1;
}
#player-control.playing .seek-bar-container,
#player-control.playing .playback-button,
#player-control.playing .volume-control,
#player-control.playing .fullscreen-button {
  opacity: 0.7;
}
#player-control.playing .seek-bar-container:hover,
#player-control.playing .playback-button:hover,
#player-control.playing .volume-control:hover,
#player-control.playing .fullscreen-button:hover {
  opacity: 1;
}
.video-player-viewport video::-webkit-media-controls {
  display: none !important;
}
.video-player-viewport:-webkit-full-screen {
  max-width: none;
}
.video-player-viewport:-moz-full-screen {
  max-width: none;
}
.video-player-viewport:-ms-full-screen {
  max-width: none;
}
.video-player-viewport:fullscreen {
  max-width: none;
}
.video-player-viewport:-webkit-full-screen #player-control {
  position: fixed;
  z-index: 2147483647 !important;
}
.video-player-viewport:-moz-full-screen #player-control {
  position: fixed;
  z-index: 2147483647 !important;
}
.video-player-viewport:-ms-full-screen #player-control {
  position: fixed;
  z-index: 2147483647 !important;
}
.video-player-viewport:fullscreen #player-control {
  position: fixed;
  z-index: 2147483647 !important;
}
.video-player-viewport:-webkit-full-screen .video-player-wrapper {
  height: 100%;
  padding-bottom: 0;
}
.video-player-viewport:-moz-full-screen .video-player-wrapper {
  height: 100%;
  padding-bottom: 0;
}
.video-player-viewport:-ms-fullscreen .video-player-wrapper {
  height: 100%;
  padding-bottom: 0;
}
.video-player-viewport:fullscreen .video-player-wrapper {
  height: 100%;
  padding-bottom: 0;
}
:-webkit-full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: 0;
}
:-ms-fullscreen {
  width: auto;
  height: auto;
  margin: auto;
}
#player-control .playback-button {
  display: block;
  position: relative;
  width: 48px;
  height: 36px;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  border: 0;
  float: left;
  cursor: pointer;
}
#player-control .playback-button:hover {
  opacity: 100%;
}
#player-control .playback-button .glyph-pro {
  position: relative;
  font-size: 24px;
  top: 7px;
}
#player-control .play-button,
#player-control .pause-button,
#player-control .replay-button {
  left: 6px;
  width: 36px;
  height: 36px;
}
#player-control .play-button {
  background-image: url("../img/videopage/player_play.svg");
}
#player-control .pause-button {
  background-image: url("../img/videopage/player_pause.svg");
}
#player-control .replay-button {
  background-image: url("../img/videopage/player_replay.svg");
}
#player-control .playback-button.paused .pause-button,
#player-control .playback-button.paused .replay-button,
#player-control .playback-button.playing .play-button,
#player-control .playback-button.playing .replay-button,
#player-control .playback-button.ended .play-button,
#player-control .playback-button.ended .pause-button {
  position: relative;
  display: none;
}
#player-control .playback-button.paused .play-button,
#player-control .playback-button.playing .pause-button,
#player-control .playback-button.ended .replay-button {
  position: relative;
  display: block;
}
#player-control .progress-time-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 48px;
  right: 138px;
  cursor: pointer;
}
#player-control .seek-bar-container {
  position: relative;
  cursor: pointer;
  height: 12px;
  background: transparent;
  padding-left: 6px;
  padding-right: 6px;
}
#player-control .seek-bar {
  position: relative;
  top: 4px;
  height: 4px;
  background: #000;
}
#player-control .button-container {
  position: relative;
  height: 36px;
}
#player-control .seek-bar .played-bar,
#player-control .seek-bar .buffered-bar,
#player-control .seek-bar .hover-bar {
  position: absolute;
  top: 0;
  height: 4px;
}
#player-control .seek-bar .played-bar {
  background: #fff;
}
#player-control .seek-bar .buffered-bar {
  background: #505050;
}
#player-control .seek-bar .hover-bar {
  display: none;
  background: #969696;
}
#player-control .seek-bar .time-tooltip {
  display: none;
  position: absolute;
  width: 50px;
  height: 25px;
  margin-left: -25px;
  bottom: 17px;
  line-height: 25px;
  background: #505050;
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 3px;
  pointer-events: none;
}
#player-control .seek-bar .time-tooltip::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  content: " ";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #505050;
}
#player-control .seek-bar-container:active .time-tooltip {
  background: #000;
}
#player-control .seek-bar-container:active .time-tooltip::after {
  border-top: 6px solid #000;
}
#player-control .seek-bar-container .seek-bar .hover-bar {
  width: 0;
  content: " ";
}
#player-control .seek-bar-container:hover .seek-bar {
  top: 3px;
  height: 6px;
}
#player-control .seek-bar-container:hover .played-bar,
#player-control .seek-bar-container:hover .buffered-bar,
#player-control .seek-bar-container:hover .hover-bar {
  display: block;
  top: 0;
  height: 6px;
}
#player-control .seek-bar:hover .time-tooltip {
  display: inline;
}
#player-control .progress-time {
  font-size: 14px;
  color: #fff;
}
#player-control .controls-right {
  float: right;
  position: relative;
  width: 138px;
  height: 100%;
}
#player-control .volume-control {
  width: 94px;
}
#player-control .volume-control .volume-up-icon,
#player-control .volume-control .volume-mute-icon {
  color: #fff;
  cursor: pointer;
}
#player-control .volume-up-icon {
  width: 36px;
  height: 36px;
  background-image: url("../img/videopage/player_volume_full.svg");
}
#player-control .volume-mute-icon {
  width: 36px;
  height: 36px;
  background-image: url("../img/videopage/player_volume_mute.svg");
}
#player-control .volume-control .volume-mute-icon,
#player-control .volume-control.muted .volume-up-icon {
  display: none;
}
#player-control .volume-control.muted .volume-mute-icon,
#player-control .volume-control .volume-up-icon {
  display: block;
}
#player-control .volume-control .volume-slider {
  position: absolute;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 34px;
  width: 50px;
  height: 36px;
  cursor: pointer;
}
#player-control .volume-control .volume-slider .slider-track {
  position: absolute;
  left: 2px;
  top: 16px;
  width: 50px;
  height: 4px;
  background-color: #505050;
}
#player-control .volume-control .volume-slider .slider-track .track-value-bar {
  position: absolute;
  height: 4px;
  background: #fff;
  width: 100%;
}
#player-control .volume-control .volume-slider .slider-thumb {
  position: absolute;
  height: 20px;
  width: 4px;
  background: white;
  top: 8px;
  left: 100%;
}
#player-control .fullscreen-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-image: url("../img/videopage/player_full_screen.svg");
}
.video-player-viewport {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  background-color: #000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.video-player-wrapper {
  cursor: pointer;
}
.using-flash #player-control {
  display: none !important;
}
.using-flash .video-player-wrapper {
  cursor: default;
}
.video-loading {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../img/studio/spin.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.video-loading-message {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  margin-bottom: 30px;
  text-align: center;
  color: #eee;
}
.video-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
}
.video-info.editing {
  background: #505e72;
  background: rgba(80, 94, 114, 0.6);
  pointer-events: all;
  z-index: 100;
}
.video-info-content {
  padding: 30px;
  background: rgba(0, 0, 0, 0.6);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}
.video-info .editable {
  position: relative;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: -11px;
  margin-bottom: -1px;
  padding: 10px 10px 0;
  pointer-events: all;
}
.video-info .editable:hover {
  border-color: #fff;
}
.video-info .edit-video-info {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}
.video-info .editable:hover .edit-video-info {
  display: inline-block;
}
.video-info .title {
  margin: 0 0 10px;
  font-size: 36px;
  font-weight: 500;
}
.video-info .status {
  font-size: 13px;
  font-style: italic;
}
.video-info .title,
.video-info .description,
.video-info .creator,
.video-info .status {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.video-info .title {
  word-wrap: break-word;
  padding-right: 100px;
}
.video-info .description {
  word-wrap: break-word;
}
#video-page.sidebar-on .video-info .title {
  max-height: 120px;
  overflow: hidden;
}
#video-page.sidebar-on .video-info .description {
  max-height: 90px;
  overflow: hidden;
}
.video-info .creator > a,
.video-info .status span {
  display: inline-block;
  pointer-events: all;
}
.video-info .edit-fields {
  padding: 30px;
  pointer-events: all;
}
.video-info .edit-fields,
.video-info.editing .video-info-content {
  display: none;
}
.video-info.editing .edit-fields {
  display: block;
}
#context-menu {
  display: block;
  position: fixed;
  min-width: 150px;
  background: #eee;
  background: rgba(238, 238, 238, 0.9);
  color: #000;
  border-radius: 3px;
  z-index: 2147483647 !important;
  cursor: default;
}
#context-menu .click-disabler {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 2147483647 !important;
}
#context-menu ul {
  position: relative;
  padding: 2.5px 0 5px;
  margin: 0;
  z-index: 2147483647 !important;
}
#context-menu li {
  display: block;
  padding: 2.5px 10px;
}
#context-menu li:hover {
  background: rgba(16, 16, 16, 0.9);
  color: #fff;
}
#context-menu li.divider,
#context-menu li.divider:hover {
  margin: 2.5px 0;
  padding: 0;
  height: 1px;
  overflow: hidden;
  background: #888;
}
.sidebar {
  display: none;
  background-color: #505e72;
  height: 670px;
}
.sidebar ul,
.sidebar li {
  margin: 0;
}
#video-page.sidebar-on .sidebar {
  display: block;
}
#video-page .sidebar .panel-container {
  height: 100%;
  overflow: hidden;
}
#video-page .sidebar .panel-container .setting-panels {
  width: 200%;
  height: 100%;
}
#video-page .sidebar .panel-container .setting-panels .main-panel {
  width: 50%;
  height: 100%;
  float: left;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .main-panel
  .setting-title {
  height: 140px;
  padding-top: 40px;
  padding-left: 30px;
  font-size: 25px;
  color: #7b8da7;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .main-panel
  .setting-items {
  padding-left: 0;
  list-style-type: none;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .main-panel
  .setting-items
  li {
  position: relative;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #ccc;
  cursor: pointer;
  border-bottom: 1px #596b84 solid;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .main-panel
  .setting-items
  li
  .icon {
  display: inline-block;
  font-size: 20px;
  width: 20px;
  margin-right: 15px;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .main-panel
  .setting-items
  li
  .title {
  display: inline-block;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .main-panel
  .setting-items
  li
  .more {
  float: right;
  font-size: 20px;
  width: 20px;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .main-panel
  .setting-items
  li:first-of-type {
  border-top: 1px #596b84 solid;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .main-panel
  .setting-items
  li:hover {
  color: #36baa6;
}
#video-page .sidebar .panel-container .setting-panels .sub-panel {
  width: 50%;
  height: 100%;
  float: left;
  background: #fff;
}
#video-page .sidebar .panel-container .setting-panels .sub-panel .panel-item {
  height: 670px;
  overflow-y: hidden;
  display: none;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .panel-item
  .panel-title,
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .panel-item
  .panel-title-static {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 30px;
  font-size: 25px;
  color: #ccc;
  background: #505e72;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .panel-item
  .panel-title:hover {
  color: #36baa6;
  cursor: pointer;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .panel-item
  .panel-title
  .text,
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .panel-item
  .panel-title-static
  .text {
  position: relative;
  left: 10px;
  top: -2px;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .panel-item
  .list-container {
  height: calc(100% - 95px);
  overflow-y: auto;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .logo-panel
  ul {
  list-style: none;
  padding: 0;
}
.sidebar .panel-item .panel-info {
  padding: 30px 0 20px 30px;
  border-bottom: 1px solid #eee;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .logo-panel
  ul
  li:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .logo-panel
  ul
  li {
  padding: 0 30px;
  height: 120px;
  cursor: pointer;
  background: #fff;
  border-bottom: 1px solid #eee;
  overflow-y: hidden;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .logo-panel
  ul
  li:hover,
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .logo-panel
  ul
  li.selected {
  background: #f2f2f2;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .history-panel
  ul {
  list-style: none;
  padding: 0;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .history-panel
  ul
  li {
  padding: 30px;
  background: #fff;
  cursor: pointer;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .history-panel
  ul
  li:hover {
  background: #f2f2f2;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .history-panel
  ul
  li.current {
  background: #f2f2f2;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .history-panel
  ul
  li
  .button-container {
  position: relative;
  top: -30px;
  display: inline;
  float: right;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .history-panel
  ul
  li
  .button-container
  .glyph-pro {
  padding-left: 5px;
  font-size: 18px;
  cursor: pointer;
  color: #ccc;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .history-panel
  ul
  li
  .button-container
  .glyph-pro:hover {
  color: #36baa6;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .admin-panel
  .list-container {
  padding: 20px 50px;
  background: #505e72;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .admin-panel
  .btn-group {
  padding-right: 15px;
  margin-bottom: 15px;
}
#video-page
  .sidebar
  .panel-container
  .setting-panels
  .sub-panel
  .admin-panel
  p {
  color: #ccc;
  font-size: 15px;
}
.intro-banner,
.settings,
.export {
  position: relative;
}
.intro-banner {
  padding: 5px;
}
.intro-banner::before {
  content: none;
}
.intro-banner > div {
  display: inline-block;
  margin: 5px 15px;
}
.intro-banner a.play-btn {
  margin: 0;
}
.settings,
.export {
  padding: 20px 0 10px;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
}
.settings.grey {
  background-color: #f7f7f7;
}
.settings-row {
  margin-bottom: 10px;
}
.settings-label {
  font-size: 16px;
  white-space: nowrap;
  margin-bottom: 5px;
  margin-right: 20px;
}
.settings.privacy .settings-label {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-bottom: 0;
}
.settings.privacy {
  border-top: 0;
}
.headline .video-title {
  font-size: 18px;
  margin: 0 0 10px;
}
#video-page .btn-group .icon {
  width: 15px;
  margin-right: 5px;
  text-align: center;
}
#video-page .btn-group .caret,
#video-page .btn-group .caret {
  margin-left: 15px;
}
#video-page .btn-group .dropdown-toggle {
  padding: 0 15px;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  color: #474747;
  line-height: 33px;
  height: 35px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}
#video-page .dropdown-toggle > div {
  letter-spacing: normal;
  display: inline-block;
}
#video-page .dropdown-menu {
  padding: 5px 0;
}
#video-page .dropdown-menu > li.divider {
  margin: 5px 0;
}
#video-page .dropdown-menu > li > div {
  cursor: pointer;
  padding: 6px 15px;
  clear: both;
  font-weight: 400;
  line-height: 1.5;
  color: #474747;
  white-space: nowrap;
}
#video-page .dropdown-menu > li > div:hover {
  background-color: #f5f5f5;
}
#video-page .dropdown-menu > li.disabled > div,
#video-page .dropdown-menu > li.disabled .description {
  color: #ccc;
}
#video-page .dropdown-menu > li:not(.disabled) .get-goteam {
  display: none;
}
#video-page .dropdown-menu > li .name {
  font-size: 14px;
}
#video-page .dropdown-menu > li .description {
  color: #999;
  margin-left: 20px;
}
.using-draft,
.using-private,
.using-public,
.using-password-protected {
  display: inline-block;
}
.using-draft .icon,
.set-privacy[data-privacy="draft"] .icon {
  color: #c7363e;
}
.using-private .icon,
.set-privacy[data-privacy="unlisted"] .icon {
  color: #ee7537;
}
.using-public .icon,
.set-privacy[data-privacy="public"] .icon {
  color: #41753f;
}
.using-password-protected .icon,
.set-privacy[data-privacy="password-protected"] .icon {
  color: #333;
}
.disabled .set-privacy .icon {
  color: #ccc;
}
#video-page .privacy:not(.draft) .using-draft,
#video-page .privacy:not(.private) .using-private,
#video-page .privacy:not(.public) .using-public,
#video-page .privacy:not(.password-protected) .using-password-protected {
  display: none;
}
.control-buttons button {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 22px;
  text-align: center;
  background-color: #1fbba6;
  color: #fff;
  border: 0;
  border-radius: 3px;
  margin-left: 10px;
  padding: 0;
  float: left;
}
.control-buttons button:focus,
.export-option button:focus {
  outline: 0;
}
.control-buttons button:hover {
  background-color: #61ceb8;
}
.control-buttons button.active {
  background-color: #dbdbdb;
  color: #c1c1c1;
  cursor: default;
}
.control-buttons button.active:hover {
  background-color: #e9e9e9;
}
.settings.sharing .message {
  height: 85px;
}
.settings.sharing .avatar {
  width: 35px;
  height: 35px;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
  margin-right: 8px;
  float: left;
}
.settings .other-collaborators {
  float: left;
  height: 35px;
  line-height: 35px;
}
.invite-collaborators-button {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #1fbba6;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  float: left;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.invite-collaborators-button:hover,
.invite-collaborators-button:focus {
  background: #61ceb8;
  color: #fff;
  text-decoration: none;
}
.invite-collaborators-button.disabled {
  background: #dbdbdb;
  cursor: default;
}
#permission-dropdown .dropdown-menu li > div .name {
  display: inline-block;
  width: 150px;
  text-align: left;
}
#permission-dropdown .dropdown-menu li > div .link {
  display: inline-block;
  padding-left: 50px;
  text-align: right;
}
#copyable-url {
  cursor: pointer;
  margin-bottom: 10px;
}
.socials-sharing {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.socials-sharing li {
  float: left;
  margin-right: 10px;
}
.socials-sharing li a {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 32px;
}
.socials-sharing li a.glyph-pro.glyph-embed-close {
  background-color: #1fbba6;
  color: #eee;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  border-radius: 4px;
}
.socials-sharing li a.glyph-pro.glyph-embed-close:hover {
  background-color: #61ceb8;
  color: #eee;
}
.socials-sharing li a.glyph-pro.glyph-embed-close.disabled {
  background-color: #d6d6d6;
}
.socials-sharing li a:hover,
.socials-sharing li a:focus {
  text-decoration: none;
}
.export {
  padding: 40px 0;
  position: relative;
}
.export .title-row {
  margin: 20px 0;
}
.export .title {
  margin: 0;
  font-size: 25px;
}
.export.disabled .title {
  color: #ccc;
}
.export-option {
  background: #eee;
  padding: 24px 15px;
  height: 168px;
  margin-bottom: 30px;
  position: relative;
  font-size: 14px;
  line-height: 1.333333;
  color: #999;
}
.export-option.connected .for-connected,
.export-option .for-connect {
  display: block;
}
.export-option .for-connected,
.export-option.connected .for-connect {
  display: none;
}
.export-option.available {
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 2px -2px #999;
}
.export-option.available:hover {
  background: #f9f9f9;
  box-shadow: 0 5px 2px -2px #999;
}
.export-option .for-available,
.export-option.available .for-unavailable,
.export-option.disabled .for-unavailable {
  display: none;
}
.export-option.available .for-available {
  display: block;
}
.export-option.disabled .for-disabled {
  display: block;
}
.export-option .for-disabled {
  display: none;
}
.export-option .user-label {
  display: inline-block;
  background: #ddd;
  color: #fff;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 12px;
  border-radius: 3px;
}
.export-option:not(.available) .user-label {
  background: #3675a7;
  position: absolute;
  top: -5px;
}
.export-option .option-name {
  color: #ccc;
}
.export-option.available .option-name {
  color: #333;
}
.export-option > .icon {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 24px;
  right: 15px;
  font-size: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.export-option .option-name {
  font-size: 20px;
}
.export-option .description {
  color: #ccc;
  max-width: 190px;
}
.export-option.available .description {
  color: #999;
}
.export-option .toggle-trigger {
  position: absolute;
  top: 24px;
  right: 15px;
  width: 20px;
  height: 20px;
  background: #00a58f;
  border: 0;
  border-radius: 50%;
  color: #eee;
  padding: 0;
  text-align: center;
  font-size: 8px;
  overflow: hidden;
  display: none;
}
.export-option.available .toggle-trigger {
  display: block;
}
.export-option .quick-upload-icon {
  width: 22px;
  height: 20px;
  position: absolute;
  vertical-align: middle;
  top: 16px;
  right: 0;
  background-image: url(../img/videopage/overlay_quickexport_init.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.export-option .row-in-4 .quick-upload-icon {
  top: 10px;
}
.export-option .resolution-option:hover .quick-upload-icon,
.export-option li:hover .quick-upload-icon {
  background-image: url(../img/videopage/overlay_quickexport_hover.png);
}
.toggle-content {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  height: 168px;
  left: 0;
  background: #333;
  color: #fff;
  cursor: default;
}
.toggle-content.toggle-on {
  display: block;
}
.toggle-content .message {
  padding: 15px;
  position: relative;
  text-align: center;
}
.toggle-content .message-button-holder {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  text-align: center;
}
.toggle-content .row-in-3 > a,
.toggle-content .row-in-4 > a,
.toggle-content .privacy-list a {
  display: block;
  position: relative;
  padding: 0 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.toggle-content .row-in-3 > a,
.toggle-content .row-in-3 .privacy-list a {
  height: 56px;
  line-height: 56px;
}
.toggle-content .row-in-4 > a,
.toggle-content .row-in-4 .privacy-list a {
  height: 42px;
  line-height: 42px;
}
.toggle-content .row-in-4 .disconnect-button {
  color: #999;
}
.toggle-content .row-in-3 > a:hover,
.toggle-content .row-in-4 > a:hover,
.toggle-content .privacy-list a:hover {
  background: #222;
  color: #1fbba6;
}
.toggle-content .row-in-3 .icon,
.toggle-content .row-in-4 .icon {
  display: block;
  position: absolute;
  font-size: 22px;
  width: 100%;
  text-align: right;
  top: 0;
  right: 15px;
  height: inherit;
}
.toggle-content .row-in-3 .icon:hover,
.toggle-content .row-in-4 .icon:hover {
  background: transparent;
}
.toggle-content .feedback {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
}
.toggle-content .privacy-list,
.toggle-content .os-list {
  display: none;
  list-style-type: none;
  padding-left: 0;
}
.toggle-content .icon .processing {
  background: transparent url(../img/studio/spin.svg) no-repeat 0 0;
  background-size: cover;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: -4px;
}
.export-option .spin {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #333;
  background-color: rgba(51, 51, 51, 0.8);
  background-image: url(../img/studio/spin.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.export-expired-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.85);
  text-align: center;
  padding: 185px 0;
}
.export-expired-overlay > a {
  margin: 10px;
}
.video-modal-content {
  clear: both;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-modal-content .wistia_embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.shortcut-instruction {
  padding: 80px 0 50px;
  background: #fff;
  text-align: center;
}
.shortcut-instruction ul {
  width: 66.666667%;
  margin: 0 auto;
}
.shortcut-instruction li {
  display: block;
  float: left;
  width: 25%;
  color: #999;
  border-color: #999;
}
.shortcut-instruction .key {
  height: 50px;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 10px 5px;
}
.shortcut-instruction .name {
  margin-top: 20px;
  line-height: 1;
}
.socials-icons {
  line-height: 1;
}
#download-export.export-option > .icon {
  background-image: url(../img/videopage/export_download_disabled.png);
}
#download-export.export-option.available > .icon {
  background-image: url(../img/videopage/export_download.png);
}
#presentation-export.export-option > .icon {
  background-image: url(../img/videopage/export_presentation_disabled.png);
}
#presentation-export.export-option.available > .icon {
  background-image: url(../img/videopage/export_presentation.png);
}
#gif-export.export-option > .icon {
  background-image: url(../img/videopage/export_animatedgif_disabled.png);
}
#gif-export.export-option.available > .icon {
  background-image: url(../img/videopage/export_animatedgif.png);
}
#transfer-export.export-option > .icon {
  background-image: url(../img/videopage/export_transfer_disabled.png);
}
#transfer-export.export-option.available > .icon {
  background-image: url(../img/videopage/export_transfer.png);
}
#youtube-export.export-option > .icon {
  background-image: url(../img/videopage/export_youtube_disabled.png);
}
#youtube-export.export-option.available > .icon {
  background-image: url(../img/videopage/export_youtube.png);
}
#wistia-export.export-option > .icon {
  background-image: url(../img/videopage/export_wistia_disabled.png);
}
#wistia-export.export-option.available > .icon {
  background-image: url(../img/videopage/export_wistia.png);
}
#vimeo-export.export-option > .icon {
  background-image: url(../img/videopage/export_vimeo_disabled.png);
}
#vimeo-export.export-option.available > .icon {
  background-image: url(../img/videopage/export_vimeo.png);
}
#vzaar-export.export-option > .icon {
  background-image: url(../img/videopage/export_vzaar_disabled.png);
}
#vzaar-export.export-option.available > .icon {
  background-image: url(../img/videopage/export_vzaar.png);
}
#viewbix-export.export-option > .icon {
  background-image: url(../img/videopage/export_viewbix_disabled.png);
}
#viewbix-export.export-option.available > .icon {
  background-image: url(../img/videopage/export_viewbix.png);
}
#lectora-export.export-option > .icon {
  background-image: url(../img/videopage/export_lectora_disabled.png);
}
#lectora-export.export-option.available > .icon {
  background-image: url(../img/videopage/export_lectora.png);
}
#wevideo-export.export-option > .icon {
  background-image: url(../img/videopage/export_wevideo_disabled.png);
}
#wevideo-export.export-option.available > .icon {
  background-image: url(../img/videopage/export_wevideo.png);
}
#vidyard-export.export-option > .icon {
  background-image: url(../img/videopage/export_vidyard_disabled.png);
}
#vidyard-export.export-option.available > .icon {
  background-image: url(../img/videopage/export_vidyard.png);
}
.shortcut-instruction .key.play {
  background-image: url(../img/videopage/keyboard_play.png);
}
.shortcut-instruction .key.back-forward {
  background-image: url(../img/videopage/keyboard_backward.png);
}
.shortcut-instruction .key.full-screen {
  background-image: url(../img/videopage/keyboard_fullscreen.png);
}
.shortcut-instruction .key.exit-full-screen {
  background-image: url(../img/videopage/keyboard_esc.png);
}
#video-collaborator-manager .remove {
  font-size: 20px;
  color: #666;
}
#video-collaborator-manager .when-changed,
#video-collaborator-manager.has-changes .when-not-changed {
  display: none;
}
#video-collaborator-manager.has-changes .when-changed {
  display: block;
}
.plans-and-pricing .tooltip-inner {
  max-width: 220px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
}
.plans-and-pricing .tooltip.in {
  opacity: 1;
  filter: alpha(opacity=80);
  font-family: inherit;
}
.video-page-nav-upsell-tooltip {
  background: transparent url(../img/myvideos/img_tom.png) no-repeat center 20px;
  position: relative;
  padding: 130px 12px 17px;
  width: 200px;
}
.video-page-nav-upsell-tooltip .video-page-nav-upsell-tooltip-dismiss {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
}
.video-page-nav-upsell-tooltip .title {
  font-size: 26px;
  margin: 10px 0 5px;
}
.video-page-nav-upsell-tooltip .desc {
  font-size: 14px;
}
.ui-menu {
  max-height: 270px;
  overflow-y: auto;
  overflow-x: hidden;
}
.icon.glyph-pro.inline {
  margin-right: 5px;
}
.download-modal h4 {
  color: #555;
  font-size: 20px;
}
.download-modal .popup-footer {
  margin-top: 20px;
}
.download-modal a.btn {
  margin: 10px;
}
.no-flash-player {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
}
@media (max-width: 767px) {
  .video-info .title,
  .video-info .description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #video-page .video-player-viewport {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.video-player-meta {
  display: none;
}
@media (min-width: 992px) {
  .sticky .video-player {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 144px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
  .sticky .video-player-container {
    width: 970px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
  .sticky .video-player-viewport {
    width: 256px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 15px;
  }
  .sticky .video-info {
    display: none !important;
  }
  .sticky .video-player-meta {
    display: block;
    padding: 30px 15px 30px 280px;
    color: #fff;
  }
  .sticky .video-player-meta .video-title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .sticky .video-player-meta .video-creator {
    font-size: 16px;
  }
  .sticky #player-control {
    width: 70px;
    bottom: 50%;
    margin-bottom: -20px;
    left: 50%;
    margin-left: -35px;
    background: 0;
  }
  .sticky #player-control .button-container {
    width: 48px;
  }
  .sticky #player-control .seek-bar-container,
  .sticky #player-control .progress-time-container,
  .sticky #player-control .controls-right {
    display: none;
  }
  .sticky .video-loading-message {
    display: none;
  }
}
@media (min-width: 1200px) {
  .sticky .video-player-container {
    width: 1170px;
  }
  .sticky #player-control .play-button {
    background-image: url("../img/videopage/sticky_play.svg");
  }
  .sticky #player-control .pause-button {
    background-image: url("../img/videopage/sticky_pause.svg");
  }
  .sticky #player-control .replay-button {
    background-image: url("../img/videopage/sticky_replay.svg");
  }
  .sticky #player-control .button-container {
    background: transparent;
  }
}
#embed-code-textbox {
  background-color: #eee;
  cursor: pointer;
  resize: none;
}
