.video-export-container {
  margin: 30px 0 10px;
}
.video-export-quality {
  color: #333;
  background-color: #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  float: left;
  padding: 5px;
  text-align: center;
  width: 65px;
  height: 65px;
  display: table;
}
.video-export-quality span {
  display: table-cell;
  vertical-align: middle;
}
.video-export-quality-desc {
  float: left;
  font-weight: bold;
  padding: 10px 15px;
}
.video-export-quality-desc p {
  margin-bottom: 5px;
}
.video-export-action {
  float: right;
  padding-top: 10px;
  text-align: center;
}
.viewbix-export-action {
  float: right;
  padding-top: 10px;
  text-align: right;
}
.viewbix_download_link {
  float: right;
  border-radius: 10px;
  background-color: #0c8cb9;
  width: 626px;
  padding: 5px;
  margin: 4px 0;
}
.viewbix_download_link .white {
  color: #fff;
  float: right;
  font-size: 14px;
  padding-right: 5px;
  padding-top: 5px;
}
.viewbix_download_link .black {
  font-weight: bold;
  color: #000;
  float: right;
  font-size: 14px;
  padding-left: 5px;
  padding-top: 5px;
}
#video-comparison-table {
  border-collapse: collapse;
  color: #666;
  font-size: 12px;
}
#video-comparison-table td {
  line-height: 20px;
  padding: 4px 10px;
  text-align: center;
}
#video-comparison-table .head {
  background-color: #ccc;
  border-radius: 4px;
  color: #333;
  font-weight: bold;
  font-style: normal;
  padding: 6px 0;
}
.btn-vzaar-redirecting,
.btn-vzaar-authorize-cancel,
.authorizing .btn-vzaar-authorize,
.authorizing .btn-vzaar-close {
  display: none;
}
.authorizing .btn-vzaar-redirecting,
.authorizing .btn-vzaar-authorize-cancel {
  display: inline-block;
}
.wistia-export-main,
.authorized .wistia-export-authorize,
.vidyard-export-main,
.authorized .vidyard-export-authorize,
.vzaar-export-main,
.authorized .vzaar-export-authorize {
  display: none;
}
.authorized .wistia-export-main,
.authorized .vidyard-export-main,
.authorized .vzaar-export-main {
  display: block;
}
.wistia-account-name,
.vzaar-account-name {
  font-weight: bold;
  display: inline-block;
  padding: 0 5px;
}
.wevideo-pick-resolution,
.authorized .wevideo-authorize-account {
  display: none;
}
.authorized .wevideo-pick-resolution {
  display: block;
}
.wevideo-pick-resolution .wevideo_email {
  font-weight: bold;
}
.wevideo-export-authorize {
  text-align: center;
}
.wevideo-export-authorize-action {
  display: inline-block;
  min-width: 220px;
  text-align: left;
}
.wevideo-export-authorize-action > span {
  position: relative;
  line-height: 30px;
}
.wevideo-export-authorize-message-fail:before {
  content: "";
  background: transparent url(../img/common/img_alert_small.png) no-repeat 0 0;
  position: absolute;
  left: -30px;
  width: 30px;
  height: 30px;
}
.wevideo-export-authorize-message-fail {
  margin-left: 30px;
}
.wevideo-export-authorize-message-success:before {
  content: "";
  background: transparent url(../img/common/img_alert_small.png) no-repeat -30px
    0;
  position: absolute;
  left: -30px;
  width: 30px;
  height: 30px;
}
.wevideo-export-authorize-message-success {
  margin-left: 30px;
}
.wevideo-export-authorize-loading:before {
  content: "";
  background: transparent url(../img/common/loading.gif) no-repeat 3px 3px;
  position: absolute;
  left: -30px;
  width: 30px;
  height: 30px;
}
.wevideo-export-authorize-loading {
  margin-left: 30px;
}
.modal-footer .connect {
  display: inline-block;
}
.modal-footer.authorized .connect {
  display: none;
}
.vidyard-export-authorize label.token {
  margin-right: 40px;
  display: inline-block;
  cursor: auto;
}
