#voice-vendor-container {
  background: #fff url(../img/video_voice/img_orange.jpg) no-repeat left top;
  height: 250px;
  width: 300px;
  margin: 0 auto;
}
#voice-vendor-container ul {
  margin-left: 174px;
  padding-left: 8px;
  padding-top: 20px;
}
#voice-vendor-container li {
  list-style-type: none;
  padding: 10px 0;
}
#voice-vendor-container li img {
  width: 110px;
  height: 30px;
}
#voice-vendor-container li img:hover {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
#voice-vendor-container li hr.sperator {
  margin: 20px 8px 0 0;
}
.voice-vendor-ad {
  width: 130px;
  background-color: #282828;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  text-align: center;
  overflow: hidden;
  border: 0;
}
.voice-vendor-ad .close {
  font-weight: bold;
  margin-right: 5px;
}
.voice-vendor-ad .close a {
  color: #fff;
}
#studio-voice-vendor-container {
  height: 100%;
  margin-top: 41px;
}
#studio-voice-vendor-container ul {
  background: #fff url(../img/video_voice/img_orange_v.jpg) no-repeat 0 0;
  width: 120px;
  padding: 385px 0 0 0;
  margin: 0 auto;
}
#studio-voice-vendor-container li {
  list-style-type: none;
  padding: 10px 0;
}
#studio-voice-vendor-container li img {
  width: 110px;
  height: 30px;
}
#studio-voice-vendor-container li img:hover {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#studio-voice-vendor-container li hr.sperator {
  margin: 20px 5px 0;
}
a.voiceover-tips {
  position: relative;
  top: 10px;
  display: inline-block;
  width: 110px;
  height: 30px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  color: #1b97aa;
}
a.voiceover-tips span {
  position: relative;
  margin-left: 15px;
}
a.voiceover-tips i.lightbulb {
  position: absolute;
  left: -15px;
  background: transparent url(../img/video_voice/lightbulb.png) no-repeat 0 0;
  display: inline-block;
  line-height: 20px;
  height: 20px;
  width: 12px;
}
a.voiceover-tips:hover {
  color: #42cadf;
}
a.voiceover-tips:hover i.lightbulb {
  background-position: 0 -20px;
}
