#switch-watermark {
  width: 700px;
}
#switch-watermark .lightbox_wrapper {
  background-color: #eee;
  padding: 20px;
}
#switch-watermark h2 {
  color: #666;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
#switch-watermark p {
  color: #999;
  text-align: left;
}
#watermarks {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 10px;
  list-style-type: none;
  height: 260px;
  width: 640px;
  overflow-y: auto;
}
#watermarks li {
  float: left;
  margin: 0 5px 5px 0;
}
#watermarks li a {
  display: table-cell;
  height: 80px;
  padding: 5px;
  vertical-align: middle;
}
#watermarks li a:hover {
  background-color: #eee;
}
#watermarks li a.on {
  background-color: #ddd;
}
#watermarks li img {
  max-height: 70px;
  vertical-align: middle;
}
#switch-watermark .buttons {
  text-align: center;
}
#switch-watermark .buttons a {
  display: inline-block;
  margin: 0 10px;
  color: #999;
  font-size: 14px;
  font-weight: bold;
}
#switch-watermark .buttons a:hover {
  color: #777;
}
#switch-watermark-confirm {
  border: 1px solid #aaa;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #3796c9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cb0e5',endColorstr='#3796c9',GradientType=0);
  background: -moz-linear-gradient(top, #4cb0e5 0, #3796c9 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #4cb0e5),
    color-stop(100%, #3796c9)
  );
  background: -o-linear-gradient(top, #4cb0e5 0, #3796c9 100%);
  margin: 0 10px;
  padding: 5px 15px;
}
#switch-watermark-confirm:hover {
  background: #4cb0e5;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7cc7ef',endColorstr='#4cb0e5',GradientType=0);
  background: -moz-linear-gradient(top, #7cc7ef 0, #4cb0e5 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #7cc7ef),
    color-stop(100%, #3796c9)
  );
  background: -o-linear-gradient(top, #7cc7ef 0, #4cb0e5 100%);
}
#switch-watermark .error-message {
  color: #f00;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
}
.biz-watermark-image {
  float: left;
  margin: 0 10px 10px 0;
}
