.worknotes-module {
  height: 600px;
  overflow: hidden;
  position: relative;
}
.worknotes-module-top {
  border-bottom: 1px solid #aaa;
  padding: 20px 10px 19px;
  height: 69px;
}
.worknotes-container {
  overflow-y: auto;
  height: 530px;
}
.worknote-post-form,
.worknote-post-form-body,
.worknote-reply-form,
.worknote-reply-form-body {
  overflow: hidden;
  zoom: 1;
  font-size: 14px;
}
.worknote-post-form {
  display: none;
  margin: 0;
}
.worknote-reply-form {
  padding: 10px;
  margin: 0;
}
.worknote-post-form > .pull-left,
.worknote-reply-form > .pull-left {
  margin-right: 10px;
}
.worknote-post-form textarea,
.worknote-reply-form textarea {
  margin-bottom: 10px;
  resize: none;
  height: 90px;
}
.worknote-reply-form .close {
  margin-left: 10px;
  margin-top: 5px;
}
.show-form .worknotes-module-top {
  height: 170px;
}
.show-form .worknotes-container {
  height: 430px;
}
.show-form .worknote-post-form {
  display: block;
}
.show-form .worknote-post-trigger {
  display: none;
}
.no-worknotes {
  background: transparent url(../img/videos/img_noNote.png) no-repeat center
    70px;
  display: none;
  text-align: center;
  font-weight: 500;
  padding: 170px 10px 10px;
}
.empty > .no-worknotes {
  display: block;
}
.scene-note {
  border-bottom: 1px solid #aaa;
  position: relative;
}
.scene-active-mark {
  display: none;
  background-color: #666;
  width: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}
.scene-note.active .scene-active-mark {
  display: block;
}
.scene-note-header {
  background: transparent url(../img/videos/icon_play.png) no-repeat 260px -100px;
  font-size: 14px;
  padding: 5px 10px;
}
.worknotes-container .scene-note-header:hover {
  background-color: #f5e69f;
  background-position: 260px center;
  cursor: pointer;
}
.general-note .scene-note-header {
  background-image: none;
}
.worknote,
.worknote-body {
  overflow: hidden;
  zoom: 1;
}
.worknote {
  padding: 20px 10px 10px;
  position: relative;
}
.worknote.dim {
  opacity: 0.5;
}
.worknote.dim:hover {
  opacity: 1;
}
.worknote-body > .worknote {
  padding: 0;
}
.worknote:hover {
  background-color: #f5e69f;
  padding-left: -5px;
}
.worknote-reply-wrapper .worknote:hover {
  background-color: transparent;
}
.worknote-body {
  font-size: 11px;
  line-height: 16px;
}
.worknote-author {
  font-weight: 500;
}
.worknote > .pull-left {
  margin-right: 10px;
}
.worknote-actions {
  position: absolute;
  top: 2px;
  right: 10px;
  display: none;
}
.worknote:hover .worknote-actions {
  display: block;
}
.worknote-actions > a {
  color: #474747;
  display: inline-block;
  font-size: 10px;
  line-height: 15px;
}
.worknote-actions > a:hover {
  color: #d85e27;
}
.note-label-reopen .hover {
  display: none;
}
.worknote-actions a:hover .note-label-reopen .hover {
  display: inline;
}
.worknote-actions a:hover .note-label-reopen .normal {
  display: none;
}
.worknote-separator {
  width: 85%;
  margin: 0 auto;
  height: 1%;
  border-top: 1px solid #aaa;
  zoom: 1;
}
.worknote-reply-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 6;
  display: none;
  background: #ccc url(../img/videos/img_shadow.png) repeat-x 0 0;
  overflow-y: auto;
}
#studio_container .studio-worknote {
  background-color: #ccc;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  border: 0;
  border-left: 1px solid #aaa;
}
#studio_container .studio-worknote > div {
  height: 100%;
}
#studio_container .studio-worknote.expand {
  width: 341px;
}
#studio_container .studio-worknote.collapsed {
  width: 30px;
}
#studio_container .studio-worknote .studio-worknote-toggle {
  height: 100%;
  width: 30px;
  margin: 0;
  cursor: pointer;
  display: table;
  float: left;
}
#studio_container .studio-worknote .studio-worknote-toggle > div {
  vertical-align: middle;
  display: table-cell;
}
#studio_container .studio-worknote .studio-worknote-toggle .icon {
  background: transparent url(../img/videos/icon_pup_nav.png) no-repeat 0 0;
  display: inline-block;
  height: 30px;
  width: 30px;
}
#studio_container .studio-worknote .studio-worknote-toggle .icon.notes {
  background-position: -120px -60px;
}
#studio_container .studio-worknote .studio-worknote-toggle.active .icon.notes {
  background-position: -120px 0;
}
#studio_container .studio-worknote .studio-worknote-toggle:hover .icon.notes {
  background-position: -120px -30px;
}
#studio_container .studio-worknote .studio-worknote-toggle .num {
  display: block;
  font-size: 18px;
  text-align: center;
}
#studio_container .studio-worknote .studio-worknote-toggle.active .num {
  color: #1b97aa;
}
#studio_container .studio-worknote .studio-worknote-toggle:hover .num {
  color: #09b5b0;
}
#studio_container .studio-worknote .studio-worknote-container {
  height: 100%;
  width: 309px;
  margin: 0;
  border-left: 1px solid #aaa;
  float: left;
}
#studio_container .studio-worknote .content {
  height: 100%;
  width: 309px;
  background-color: #ccc;
  overflow: hidden;
}
#studio_container .studio-worknote .content:hover {
  overflow: auto;
}
#studio_container .studio-worknote .content.loading {
  background-image: url(../img/dashboard/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
#studio_container .studio-worknote .worknote-top-nav {
  height: 50px;
  border-bottom: 1px solid #aaa;
  cursor: pointer;
}
#studio_container .studio-worknote .worknote-top-nav > div {
  padding: 14px 9px;
}
#studio_container .studio-worknote .worknote-top-nav .nav-expand {
  background: transparent url(../img/studio/arrow_expand.png) no-repeat 0 0;
  display: inline-block;
  height: 22px;
  width: 12px;
}
#studio_container .studio-worknote .worknote-top-nav:hover .nav-expand {
  background-position: 0 -22px;
}
#studio_container .studio-worknote .worknote-top-nav .nav-collapse {
  background: transparent url(../img/studio/arrow_collapse.png) no-repeat 0 0;
  display: inline-block;
  height: 22px;
  width: 12px;
}
#studio_container .studio-worknote .worknote-top-nav:hover .nav-collapse {
  background-position: 0 -22px;
}
#studio_container .studio-worknote.collapsed .worknote-top-nav .nav-collapse {
  display: none;
}
#studio_container .studio-worknote.expand .worknote-top-nav .nav-expand {
  display: none;
}
#studio_container .scene-note-header {
  background-image: none;
}
#studio_container .scene-note-header:hover .scene-num {
  color: #09b5b0;
}
