.vm5-banner {
  background: #02a4ce;
  background: linear-gradient(to bottom, #02a4ce 0, #02a4ce 50%, #0081a1 100%);
  height: 310px;
}
.vm5-banner > .container {
  height: 100%;
  position: relative;
}
.vm5-banner__main {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 15px;
  text-align: center;
}
.vm5-banner__main__title {
  margin-top: 32px;
  margin-bottom: 8px;
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
  font-size: 40px;
  font-weight: 100;
  line-height: 44px;
  text-transform: uppercase;
}
.vm5-banner__main__title > b {
  color: #fff;
}
.vm5-banner__main__content {
  margin-bottom: 24px;
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
}
.vm5-banner__main__bullets {
  list-style: none;
  padding: 0;
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.7;
  text-transform: uppercase;
}
.vm5-banner__main__bullets > li {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.vm5-banner__main__bullet__icon {
  background: transparent url(../../img/vm5_alpha/banner/bullets.png) no-repeat
    0 0;
  background-size: auto 48px;
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.vm5-banner__main__bullet__icon--timeline {
  background-position: -1px 0;
}
.vm5-banner__main__bullet__icon--props {
  background-position: -101px 0;
}
.vm5-banner__main__bullet__icon--preview {
  background-position: -51px 0;
}
.vm5-banner__video-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
}
.vm5-banner__video-wrapper > img {
  max-width: 100%;
}
.vm5-banner__video {
  position: absolute;
  top: 12%;
  left: 7.8%;
  width: 84%;
}
.vm5-banner__cta {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.vm5-banner__cta > .btn {
  margin: 0 8px 16px;
}
@media (max-width: 991px) {
  .vm5-banner {
    height: 760px;
  }
  .vm5-banner > .container {
    text-align: center;
  }
  .vm5-banner__main {
    padding: 0 35px;
  }
  .vm5-banner__main__content {
    margin-bottom: 24px;
  }
  .vm5-banner__video-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .vm5-banner__main {
    width: 60%;
  }
  .vm5-banner__main__content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
